<div>
    <h4 class="sc-hwcHae cpYbih">Disclosures and Consent</h4>
    <div>
        <div class="sc-fOKMvo iZCjJA">
            <div class="sc-dUjcNx dXjDpY">
                <div class="custom-checkbox">
                    <input title="electronic_communication" name="electronic_communication_consent" id="consent-screen" checked type="checkbox" class="form-check-input" style="transform: translateY(-30px)!important;">
                    <label for="consent-screen" style="transform: translateY(30px)!important;">I agree to Afri Fund’s Consent to
                        <a href="javascript:void(0)" class="popup-trigger" data-popup-trigger="">Electronic Receipt of Consumer Disclosures</a>,
                        <!-- <a href="/privacy/" target="_blank">Privacy Policy</a> and
                        <a href="/terms-of-use/" target="_blank">Terms of Use</a>. -->
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
