{% load static %}


<link rel="stylesheet" href='{% static "loans/css/findapplication.css" %}'>

<style>
    .error {
        color: red;
        display: none;
        font-size: inherit !important;
        font-family: inherit !important;
    }
</style>

<section class="sc-caSCKo bcmzeY" id="main-container" tabindex="-1">
    <div class="sc-fjhmcy kTHGXN">
        {% include "loans/applications/apply/forms/modal.html" %}

        <div class="sc-kvZOFW elSnyR">
            <div class="sc-hqyNC container keRCOE">
                <div class="sc-jbKcbu row cWSlbe">
                    <div class="sc-dNLxif col-xs-10 bVdTGY">
                        <h1 class="sc-uJMKN fVpAKT">Here's the Borrower Application</h1>
                    </div>
                    <div class="sc-jqCOkK col-xs-10 gdorVr">
                        <h2 class="sc-bbmXgH cuBMeU">
                            <a class="continue-to-find-application" href="">
                                Or, find your existing application
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <form action="{% url 'loans:applications:application_entry_form' %}" method="post" id="uploadForm">
            {% csrf_token %}
            <section class="sc-tilXH hqWShn">
                <div class="sc-hEsumM row epeevU">
                    <div class="sc-ktHwxA container bwPBzM">
                        <div class="sc-cIShpX col-md-9 col-sm-8 col-xs-12 bANgm">
                            <!-- basic information -->
                            {% include "loans/applications/apply/forms/components/basic-information.html" %}

                            <!-- contact information -->
                            {% include "loans/applications/apply/forms/components/contact-information.html" %}

                            <!-- personal information -->

                            {% include "loans/applications/apply/forms/components/personal-information.html" %}

                            <!-- school and loan information -->
                            {% include "loans/applications/apply/forms/components/school-information.html" %}


                            <!-- Loan and Financial support -->
                            {% include "loans/applications/apply/forms/components/loan-information.html" %}

                        </div>
                    </div>
                </div>
            </section>
        </form>

        <div class="sc-rBLzX col-md-8 col-sm-10 col-xs-12 cGffaf" style="margin-top: 2rem;"></div>

        <div class="container dUVJZU">
            <div class="row">
                <div class="sc-laTMn col-md-8 col-sm-10 col-xs-12 eTTYbN-not-bordered">
                    <ul class="sc-hGoxap bkBOEe">
                        <li class="sc-fjmCvl egXtrJ">
                            <div class="sc-hSdWYo gJFFhu">
                                <button type="submit" class="sc-kEYyzF bTpaUX next-button" tabindex="0" style="position: relative;">
                                    Proceed Next <span class="spinner" style="position: absolute;"></span>
                                </button>
                            </div>
                        </li>
                        <li class="sc-fjmCvl loERAN">
                            <div class="sc-hSdWYo gJFFhu">
                                <button type="button" class="sc-kEYyzF gQqeTy prev-button" style="display: none;">
                                    Back
                                    <span class="sc-kkGfuU bmbkEI"></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</section>