# General
# ------------------------------------------------------------------------------
DJANGO_READ_DOT_ENV_FILE=bool
DJANGO_SETTINGS_MODULE=settings.module
DJANGO_SECRET_KEY=secret
DJANGO_ADMIN_URL=someurl
DJANGO_ALLOWED_HOSTS=.domain.com

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=bool

# Email
# ------------------------------------------------------------------------------
DJANGO_SERVER_EMAIL=


# AWS
# ------------------------------------------------------------------------------
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# django-allauth
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=bool

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN=someurl

USE_DOCKER=yes
# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redisurl
CELERY_BROKER_URL=redisurl

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=debug
CELERY_FLOWER_PASSWORD=debug

DATABASE_URL=
AFRIFUNDUNIVERSITY_PRESS_DATABASE_URL=

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject


# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=elsaticpassword


# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=kibanapassword


# Version of Elastic products
STACK_VERSION=8.7.1


# Set the cluster name
CLUSTER_NAME=docker-cluster


# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial


# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200


# Port to expose Kibana to the host
KIBANA_PORT=5601


# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824


# SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY=secretencruption
