{% load static %}


<section class="sc-caSCKo" id="main-container" tabindex="-1" style="transform: translateY(0px);">
    <div class="sc-kvZOFW elSnyR">
        <div class="sc-hqyNC container keRCOE">
            <div class="sc-jbKcbu row cWSlbe">
                <div class="sc-dNLxif col-xs-10 bVdTGY">
                    <h1 class="sc-uJMKN fVpAKT">
                        We’re having some trouble loading the next page – here are some ideas for how to fix this:
                    </h1>
                </div>
                <div class="sc-jqCOkK col-xs-10 gdorVr">
                    <h2 class="sc-bbmXgH cuBMeU"></h2>
                </div>
            </div>
        </div>
    </div>
    <section class="sc-cmTdod jlJgJK" style="margin-bottom: 3rem;">
        <div class="sc-feJyhm container fRrBax">
            <div class="sc-kafWEX row dNChzQ">
                <div class="sc-jwKygS col-xs-12 fBHHFw" spacing="col-xs-12">
                    <div>
                        <p>If you’re trying to apply from within Kenya, please try a couple of things:</p>
                        <p>&nbsp;</p>
                        <ol>
                            <li>Make sure you only have 1 browser tab with the application open.</li>
                            <li>Make sure you are not using a <strong>vpn or any IP masking service</strong> when accessing our services.</li>
                            <li>Try accessing your application again right away.</li>
                            <li>If this problem persist feel free to <a href="{% url 'contact' %}">contact us</a> for assistance</li>
                        </ol>
                        <p><a class="continue-to-find-application" href="">Find your application</a><br>
                            <a class="continue-to-personal-info" href="">Start a new application</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>