{% load static %}


<div class="sc-gwVKww ghKjbn">
    <section class="sc-hXRMBi container kiRnNm">
        <div class="sc-epnACN row hsXqzQ">
            <div class="sc-iQNlJl col-xs-12 jAmdHl">
                <div class="sc-bsbRJL dUdrDe">
                    <h2 class="sc-hZSUBg ktzvwM">Here's what our customers are saying about us:</h2>
                    <div class="slick-slider">
                        <div class="slick-track">
                            <div class="" tabindex="-1">
                                <span class="sc-cLQEGU emCwQY" aria-describedby="quote-image-description"></span>
                                <span class="sc-cQFLBn iLpNOF" aria-hidden="false" id="quote-image-description"></span>
                                <div class="sc-gqPbQI fmaxaY">
                                    <div class="sc-hORach kchhIa">
                                        <span class="sc-bMVAic knKiUQ"></span>
                                        <span class="sc-bMVAic knKiUQ"></span>
                                        <span class="sc-bMVAic knKiUQ"></span>
                                        <span class="sc-bMVAic knKiUQ"></span>
                                        <span class="sc-bMVAic knKiUQ"></span>
                                    </div>
                                    <span class="sc-bAeIUo lbDQxo">5/20/24</span>
                                    <h3 class="sc-iujRgT bklAwW">Quick and efficient</h3>
                                    <p class="sc-GMQeP fMjwHU">The process in filling everything out online was easy and quick to follow along. Gives a break down of monthly payments that start after the money is sent to the school. Although, students not working will be required to get a co-signer.</p>
                                    <span class="sc-exAgwC fsnDtB">Johnathan</span>
                                </div>
                            </div>
                            <div class="" tabindex="-1">
                                <span class="sc-cLQEGU emCwQY" aria-describedby="quote-image-description"></span>
                                <span class="sc-cQFLBn iLpNOF" aria-hidden="false" id="quote-image-description"></span>
                                <div class="sc-gqPbQI fmaxaY">
                                    <div class="sc-hORach kchhIa">
                                        <span class="sc-bMVAic knKiUQ"></span>
                                        <span class="sc-bMVAic knKiUQ"></span>
                                        <span class="sc-bMVAic knKiUQ"></span>
                                        <span class="sc-bMVAic knKiUQ"></span>
                                        <span class="sc-bMVAic knKiUQ"></span>
                                    </div>
                                    <span class="sc-bAeIUo lbDQxo">5/20/24</span>
                                    <h3 class="sc-iujRgT bklAwW">Quick and efficient 1</h3>
                                    <p class="sc-GMQeP fMjwHU">The process in filling everything out online was easy and quick to follow along. Gives a break down of monthly payments that start after the money is sent to the school. Although, students not working will be required to get a co-signer.</p>
                                    <span class="sc-exAgwC fsnDtB">Kwasa</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>