{% extends "account/layout.html" %}
{% load static %}

{% block main %}
<main class="_widget login">
  <section class="c5ae326fd _prompt-box-outer c2a3d4513">
    <div class="ce9e9339c cc85b8cab">
      <div class="c1cde37b0">
        <header class="" style="padding-bottom: 2rem;">
          <div style="width: auto !important; height: 60px !important; position: static !important; margin: auto !important; padding: 0 !important; background-color: transparent !important; background-position: center !important; background-size: contain !important; background-repeat: no-repeat !important"></div>
          <h1 class="c21b3189e cf06b5d73">Secure login</h1>
          <div class="c15e7761c cf9539287">
            <p class="c89b8d9a3 cf846ade6">Log in to Get Your Money Right®</p>
          </div>
        </header>
        <div class="c133530c0 cca97f6fa">
          <form method="POST" class="c07a87d47 cb4e4d015" action="{% url 'users:login' %}">
            {% csrf_token %}
            <div class="c97a03211 c4b23a084">
              <div class="c30d2e9d9">

                <div class="input-wrapper _input-wrapper">
                  <c-auth label="{{form.email.label}}" field="{{form.email}}" field_error="{{form.email.name}}"></c-auth>
                </div>

                <div class="input-wrapper _input-wrapper">
                  <c-auth label="{{form.password.label}}" field="{{form.password}}" field_error="{{form.password.name}}"></c-auth>
                </div>

              </div>
            </div>
            <p class="cfa2f5043 ce2a3e093">
              <a class="c9af0c479 c2aaeffca cfe901f30" href="{% url 'users:password_reset' %}">Forgot password?</a>
            </p>
            <div class="c2639060b">
              <button type="submit" id="loginBtn" class="c23cc53f8 c918ac079 ca129283c c3c85e921 c1962c85f">
                Log in
              </button>
              <p class="server-response" style="text-align: center;"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock main %}

{% block blockJs %}

<script>
  // Add your custom JavaScript here
  $(document).ready(function () {
    try {
      window.localStorage.removeItem("AFUL_UNVERIFIED_EMAIL")
    } catch (error) { };

    $(".cb4e4d015").submit(function (event) {
      event.preventDefault();
      var email = $("#email").val();
      var password = $("#password").val();

      $("#loginBtn").prop("disabled", true);
      $("#loginBtn").html(`<span class="spinner" id="spinner"></span>`)


      $.ajax({
        url: "{% url 'users:login' %}",
        type: "POST",
        data: JSON.stringify({ email, password, 'next': "{{ request.GET.next }}" }),
        headers: {
          "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()
        },
        success: function (response) {
          const { message, redirect_to } = response;
          $(".server-response").text(message);
          setTimeout(function () {
            window.location.href = redirect_to;
          }, 1000)
        },
        error: function (xhr, status, error) {
          $(".server-response").text(JSON.parse(xhr.responseText).error);
        },
        complete: function () {
          $("#loginBtn").prop("disabled", false);
          $("#loginBtn").html("Log in");
        }
      });
    })
  });
</script>

{% endblock blockJs %}