{% extends "account/layout.html" %}
{% load static %}

{% block main %}
<main class="_widget login">
  <section class="c5ae326fd _prompt-box-outer c2a3d4513">
    <div class="ce9e9339c cc85b8cab">
      <div class="c1cde37b0">
        <header class="" style="padding-bottom: 2rem;">
          <div style="width: auto !important; height: 60px !important; position: static !important; margin: auto !important; padding: 0 !important; background-color: transparent !important; background-position: center !important; background-size: contain !important; background-repeat: no-repeat !important"></div>
          <h1 class="c21b3189e cf06b5d73">Secure login</h1>
          <div class="c15e7761c cf9539287">
            <p class="c89b8d9a3 cf846ade6">Log in to Get Your Money Right®</p>
          </div>
        </header>
        <div class="c133530c0 cca97f6fa">
          <form method="POST" class="c07a87d47 cb4e4d015">
            {% csrf_token %}
            <div class="c97a03211 c4b23a084">
              <div class="c30d2e9d9">

                <div class="input-wrapper _input-wrapper">
                  <c-auth label="{{form.dob.label}}" field="{{form.dob}}" field_error="{{form.dob.name}}"></c-auth>
                </div>

                <div class="input-wrapper _input-wrapper">
                  <c-auth label="{{form.email.label}}" field="{{form.email}}" field_error="{{form.email.name}}"></c-auth>
                </div>

                <div class="input-wrapper _input-wrapper">
                  <c-auth label="{{form.national_id_number.label}}" field="{{form.national_id_number}}" field_error="{{form.national_id_number.name}}"></c-auth>
                </div>

                <div class="input-wrapper _input-wrapper">
                  <c-auth label="{{form.password.label}}" field="{{form.password}}" field_error="{{form.password.name}}"></c-auth>
                </div>

                <div class="input-wrapper _input-wrapper">
                  <c-auth label="{{form.password2.label}}" field="{{form.password2}}" field_error="{{form.password2.name}}"></c-auth>
                </div>
              </div>
            </div>

            <div class="c2639060b">
              <button type="submit" id="loginBtn" class="c23cc53f8 c918ac079 ca129283c c3c85e921 c1962c85f">
                Log in
              </button>
              <p class="server-response" style="display: flex;align-items:center; justify-content:center"></p>
            </div>


          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<div id="validationScripts"></div>
{% endblock main %}

{% block blockJs %}

<script>
  $(document).ready(function () {
    loadJSFile("{% static 'js/validation.min.js' %}", function () {
      validateDob();
      validateEmailAddress();
      validateNationIdNumber();
      validatePasswordField();
    });


  });
</script>

<script>
  $(document).ready(function () {
    $(".c07a87d47").submit(function (event) {
      event.preventDefault();
      var form = $(this);
      var url = form.attr('action');
      $.ajax({
        type: 'POST',
        url: url,
        headers: {
          "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val(),
        },
        data: JSON.stringify({
          "dob": $(this).find("input[name='dob']").val(),
          "email": $(this).find("input[name='email']").val(),
          "password": $(this).find("input[name='password']").val(),
          "password2": $(this).find("input[name='password2']").val(),
          "national_id_number": $(this).find("input[name='national_id_number']").val(),
        }),
        success: function (response) {
          let { message, url, email } = response;
          $(".server-response").html(
            `<small class='py-1' style='text-align: center'>${message}</small>`);
          window.localStorage.setItem("AFUL_UNVERIFIED_EMAIL", email);
          setTimeout(() => {
            window.location.href = url;
          }, 1000);


        },
        error: function (xhr, status, error) {
          console.error("Error: " + xhr.responseText);
          $(".server-response").html(
            `<small class='py-1' style='text-align: center'>${JSON.parse(xhr.responseText).error}</small>`);
        }
      })
    });


  });

</script>

{% endblock blockJs %}