{% extends "account/layout.html" %}
{% load static %}

{% block main %}
<main class="_widget login">
    <section class="c5ae326fd _prompt-box-outer c2a3d4513">
        <div class="ce9e9339c cc85b8cab">
            <div class="c1cde37b0">
                <header class="" style="padding-bottom: 2rem;">
                    <div style="width: auto !important; height: 60px !important; position: static !important; margin: auto !important; padding: 0 !important; background-color: transparent !important; background-position: center !important; background-size: contain !important; background-repeat: no-repeat !important"></div>
                    <h1 class="c21b3189e cf06b5d73">Password Reset</h1>
                    <div class="c15e7761c cf9539287">
                        <p class="c89b8d9a3 cf846ade6">Fill in the form bellow to reset yoru password</p>
                    </div>
                </header>
                <div class="c133530c0 cca97f6fa">
                    <form method="POST" class="c07a87d47 cb4e4d015" action="{{request.path}}">
                        {% csrf_token %}
                        <div class="c97a03211 c4b23a084">
                            <div class="c30d2e9d9">


                                <div class="input-wrapper _input-wrapper">
                                    <c-auth label="{{form.password.label}}" field="{{form.password}}" field_error="{{form.password.name}}"></c-auth>
                                </div>

                                <div class="input-wrapper _input-wrapper">
                                    <c-auth label="{{form.password2.label}}" field="{{form.password2}}" field_error="{{form.password2.name}}"></c-auth>
                                </div>
                            </div>
                        </div>

                        <div class="c2639060b">
                            <button type="submit" id="loginBtn" class="c23cc53f8 c918ac079 ca129283c c3c85e921 c1962c85f">
                                Reset Password
                            </button>
                            <p class="server-response" style="display: flex;align-items:center; justify-content:center"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}

{% block blockJs %}

<script>
    $(document).ready(function () {
        loadJSFile("{% static 'js/validation.min.js' %}", function () {
            validatePasswordField();
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".c07a87d47").submit(function (event) {
            event.preventDefault();
            var email = window.localStorage.getItem("AFUL_PASSWORD_RESET_EMAIL");


            $("#loginBtn").prop("disabled", true);
            $("#loginBtn").html(`<span class="spinner" id="spinner"></span>`)

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                headers: {
                    "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val(),
                },
                data: JSON.stringify({
                    "email": email,
                    "password": $(this).find("input[name='password']").val(),
                }),
                success: function (response) {
                    let { message, redirect_to_login } = response;
                    $(".server-response").text(message);
                    window.localStorage.removeItem("AFUL_UNVERIFIED_EMAIL");
                    setTimeout(() => {
                        window.location.href = redirect_to_login;
                    }, 1000);
                },
                error: function (xhr, status, error) {
                    console.error("Error: " + xhr.responseText);
                    $(".server-response").text(JSON.parse(xhr.responseText).error);
                },
                complete: function () {
                    $("#loginBtn").prop("disabled", false);
                    $("#loginBtn").html("Log in");
                }
            })
        });


    });

</script>

{% endblock blockJs %}