{% extends "account/layout.html" %}
{% load static %}

{% block main %}

<main class="_widget login">
    <section class="c5ae326fd _prompt-box-outer c2a3d4513">
        <div class="ce9e9339c cc85b8cab">
            <div class="c1cde37b0">
                <header class="" style="padding-bottom: 2rem;">
                    <div style="width: auto !important; height: 60px !important; position: static !important; margin: auto !important; padding: 0 !important; background-color: transparent !important; background-position: center !important; background-size: contain !important; background-repeat: no-repeat !important"></div>
                    <h1 class="c21b3189e cf06b5d73">Reset your password</h1>
                    <div class="c15e7761c cf9539287">
                        <p class="c89b8d9a3 cf846ade6" style="padding: 0 2rem;">
                            Tell use your account email to receive reset password link.
                        </p>
                    </div>
                </header>
                <div class="c133530c0 cca97f6fa">
                    <form method="POST" class="c07a87d47 cb4e4d015">
                        {% csrf_token %}
                        <div class="c97a03211 c4b23a084">
                            <div class="c30d2e9d9">
                                <div class="input-wrapper _input-wrapper">
                                    <div class="c40bfa4ec c43cb8eb6 text c2b619ed0 c081ba6b0">
                                        <label class="cb44d9d79 no-js cd6cf25de c9f5a109b" for="username">
                                            Email
                                        </label>
                                        <input class="input c4053936d caff7ffcc" inputmode="email" name="email" id="username" type="email" value="">
                                        <div class="cb44d9d79 js-required cd6cf25de c9f5a109b" aria-hidden="true">
                                            Email*
                                        </div>
                                    </div>
                                </div>
                                <div class="c2639060b">
                                    <button type="submit" id="loginBtn" class="c23cc53f8 c918ac079 ca129283c c3c85e921 c1962c85f">
                                        Log in
                                    </button>
                                    <p style="text-align: center;"><a href="{% url 'users:login' %}">Back to login</a></p>
                                    <p class="server-response"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<div id="validationScripts"></div>
{% endblock main %}

{% block blockJs %}
{% endblock blockJs %}