{% load static %}


<!-- <div class="sub-navigation-desktop__layout-column-one__row">
    <a href="/student-loans/graduate/" class="sub-nav-arrow-link" data-link-name="Graduate Loans">
    Graduate Loans
    <span class="sub-nav-arrow-link__arrow">
        <svg viewbox="0 0 25 15" style="color: #002769">
        <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
        </svg>
    </span>
    </a>
    <div class="sub-navigation-desktop__layout-column-one__grid-three">

    <a href="/student-loans/graduate/dental/" class="sub-nav-link" data-link-name="Dental">
        <div class="sub-nav-link__icon">
        <img src="{% static 'assets/images/icons/CAISDE.svg' %}" alt="CAISDE icon">
        </div>
        <div class="sub-nav-link__content">
        <p class="sub-nav-link__title">Dental</p>
        <p class="sub-nav-link__rate">3.74% - 14.47% APR<sup>&dagger;</sup>
        </p>
        </div>
    </a>
    <a href="/student-loans/graduate/mba/" class="sub-nav-link" data-link-name="MBA">
        <div class="sub-nav-link__icon">
        <img src="{% static 'assets/images/icons/CAISMB.svg' %}" alt="CAISMB icon">
        </div>
        <div class="sub-nav-link__content">
        <p class="sub-nav-link__title">MBA</p>
        <p class="sub-nav-link__rate">3.74% - 14.49% APR<sup>&dagger;</sup>
        </p>
        </div>
    </a>
    <a href="/student-loans/graduate/health-professions/" class="sub-nav-link" data-link-name="Health Professions">
        <div class="sub-nav-link__icon">
        <img src="{% static 'assets/images/icons/CAISGH.svg' %}" alt="CAISGH icon">
        </div>
        <div class="sub-nav-link__content">
        <p class="sub-nav-link__title">Health Professions</p>
        <p class="sub-nav-link__rate">3.74% - 14.47% APR<sup>&dagger;</sup>
        </p>
        </div>
    </a>
    <a href="/student-loans/graduate/law/" class="sub-nav-link" data-link-name="Law">
        <div class="sub-nav-link__icon">
        <img src="{% static 'assets/images/icons/CAISLW.svg' %}" alt="CAISLW icon">
        </div>
        <div class="sub-nav-link__content">
        <p class="sub-nav-link__title">Law</p>
        <p class="sub-nav-link__rate">3.74% - 14.47% APR<sup>&dagger;</sup>
        </p>
        </div>
    </a>
    <a href="/student-loans/graduate/medical/" class="sub-nav-link" data-link-name="Medical">
        <div class="sub-nav-link__icon">
        <img src="{% static 'assets/images/icons/CAISMD.svg' %}" alt="CAISMD icon">
        </div>
        <div class="sub-nav-link__content">
        <p class="sub-nav-link__title">Medical</p>
        <p class="sub-nav-link__rate">3.74% - 14.47% APR<sup>&dagger;</sup>
        </p>
        </div>
    </a>
    </div>
</div> -->