<div class="ce9e9339c cc85b8cab">
    <div class="c1cde37b0">
        <header class="" style="padding-bottom: 2rem;">
            <div style="width: auto !important; height: 60px !important; position: static !important; margin: auto !important; padding: 0 !important; background-color: transparent !important; background-position: center !important; background-size: contain !important; background-repeat: no-repeat !important"></div>
            <h1 class="c21b3189e cf06b5d73">{{title}}.</h1>
            <div class="c15e7761c cf9539287">
                <p class="c89b8d9a3 cf846ade6" style="padding: 0 2rem;"></p>
            </div>
        </header>
        <div class="c133530c0 cca97f6fa">
            <div class="c07a87d47 cb4e4d015">
                <div class="c97a03211 c4b23a084">
                    <div class="c30d2e9d9">
                        <div class="input-wrapper _input-wrapper">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>