{% extends "loans/applications/layout.html" %}
{% load static %}


{% block headerCss %}

<link href="{% static 'loans/css/select2.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://use.typekit.net/kao3ggf.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'loans/css/main.css' %}" rel="stylesheet">
{% include "loans/applications/apply/css/form.html" %}


<style>
    .next-button {
        position: relative;
    }

    .spinner img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }
</style>


{% endblock headerCss %}

{% block loader %}
{% endblock loader %}


{% block content %}

{% include "loans/applications/apply/forms/information.html" %}


{% include "loans/applications/apply/forms/modal.html" %}


{% endblock content %}



{% block location %}
{% endblock location %}


{% block bundleJs %}

<script>
    $(document).ready(function () { $('.js-basic-single').select2(); });
</script>



<script>
    $(document).ready(function () { loadJSFile("{% static 'loans/js/validation.js' %}", function () { }, document.body); })
</script>


{% endblock bundleJs %}