{% extends "loans/applications/layout.html" %}
{% load static %}


{% block headerCss %}

{{block.super}}



{% include "loans/applications/apply/css/apply.html" %}
<link rel="stylesheet" href='{% static "loans/css/findapplication.css" %}'>
<style>
    .spinner,
    .spinner-button {
        display: none;
        z-index: 1001;
        transform: translate(-50%, -50%);
        border: 8px solid rgba(255, 255, 255, 0.2);
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    .spinner {

        position: fixed;
        left: 50%;
        top: 50%;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    body {
        transition: opacity 0.5s ease;
    }

    .fade-out {
        opacity: 0;
    }

    #main-container-step-1,

    #main-container-step-2 {
        min-height: 55vh;
        transform: translateY(2.8rem);
        margin-bottom: 6.5rem;
    }

    #main-container-step-4 {
        transform: translateY(2.8rem);
    }
</style>
{% endblock headerCss %}

{% block loader %}
{% endblock loader %}


{% block content %}

<div class="overlay" id="overlay"></div>


<section class="" id="main-container-step-1" tabindex="-1">
    <div class="sc-bYSBpT jbbTLM">
        <div class="sc-kvZOFW elSnyR">
            <div class="sc-hqyNC container keRCOE">
                <div class="sc-jbKcbu row cWSlbe">
                    <div class="sc-dNLxif col-xs-10 bVdTGY">
                        <h1 class="sc-uJMKN fVpAKT">Hello!</h1>
                    </div>
                    <div class="sc-jqCOkK col-xs-10 gdorVr">
                        <h2 class="sc-bbmXgH cuBMeU">Let's get you to the right place.</h2>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="sc-elJkPf fNiqzt">Please tell us who you are:</h2>
        <span class="sc-kkGfuU bmbkEI spinner" id="spinner"></span>
        <div class="sc-hSdWYo gJFFhu">
            <button class="sc-kEYyzF gRIcXi" tabindex="0" aria-label="Student Borrower" aria-describedby="button-describer">
                Student Borrower
            </button>
            <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer"></p>
        </div>
        <div style="margin: 1rem 0;"></div>
        <div class="sc-hSdWYo gJFFhu">
            <button class="sc-kEYyzF gRIcXi" tabindex="0" aria-label="Cosigner" aria-describedby="button-describer">
                Cosigner
            </button>
            <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer"></p>
        </div>
    </div>
</section>

<section class="sc-caSCKo bcmzeY" id="main-container-step-2" tabindex="-1" style="display:none;">
    <div class="sc-dqBHgY bdRrJu">
        <div class="sc-kvZOFW elSnyR">
            <div class="sc-hqyNC container keRCOE">
                <div class="sc-jbKcbu row cWSlbe">
                    <div class="sc-dNLxif col-xs-10 bVdTGY">
                        <h1 class="sc-uJMKN fVpAKT">What would you like to do today?</h1>
                    </div>
                    <div class="sc-jqCOkK col-xs-10 gdorVr">
                        <h2 class="sc-bbmXgH cuBMeU"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-gxMtzJ container kLFfvI">
            <div class="sc-dfVpRl row iTthma">
                <div class="sc-gzOgki col-md-5 col-sm-6 col-xs-12 brApOG">
                    <div class="sc-hSdWYo gJFFhu">
                        <button class="sc-kEYyzF hjPaXi" data-action="new" tabindex="0" aria-label="Start a New Application" aria-describedby="button-describer">
                            Start a New Application<span class="sc-kkGfuU bmbkEI"></span>
                        </button>
                        <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer"></p>
                    </div>
                    <div style="margin: 1.3rem 0;"></div>
                    <div class="sc-hSdWYo gJFFhu">
                        <button class="sc-kEYyzF hjPaXi" data-action="existing" tabindex="0" aria-label="Return to an Existing Application" aria-describedby="button-describer">
                            Return to an Existing Application<span class="sc-kkGfuU bmbkEI"></span>
                        </button>
                        <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sc-caSCKo bcmzeY" id="main-container-step-3" tabindex="-1" style="display: none;">
    <div>
        <div class="sc-gojNiO eHAReN">
            <div class="sc-kvZOFW elSnyR">
                <div class="sc-hqyNC container keRCOE">
                    <div class="sc-jbKcbu row cWSlbe">
                        <div class="sc-dNLxif col-xs-10 bVdTGY">
                            <h1 class="sc-uJMKN fVpAKT">Ready for your student loan application?</h1>
                        </div>
                        <div class="sc-jqCOkK col-xs-10 gdorVr">
                            <h2 class="sc-bbmXgH cuBMeU">Find out if you're approved in 3 minutes</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc-hSdWYo gJFFhu">
                <button type="button" class="sc-kEYyzF bTpaUX get-started-btn" tabindex="0" aria-label="Get Started" aria-describedby="button-describer">
                    Get Started
                    <span class="sc-kkGfuU bmbkEI spinner" id="spinner"></span>
                </button>
                <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer"></p>
            </div>
        </div>
        <div class="sc-daURTG container cSpaQl">
            <div class="sc-bXGyLb col-md-6 col-sm-9 col-xs-12 kTozof">
                <h3>To complete your application, you’ll need:</h3>
                <ul>
                    <li>
                        <span>Your national identification number</span>
                    </li>
                    <li>
                        <span>Your school name (must be one of our partnered universities)</span>
                    </li>
                    <li>
                        <span>Your estimated annual fees</span>
                    </li>
                    <li>
                        <span>The amount you’d like to borrow</span>
                    </li>
                </ul>
                <h3>Once approved, you’ll see your interest rates.</h3>
                <p>
                    Already started an application?
                    <a class="continue-to-find-application" href="">Find it here</a>
                    .
                </p>
            </div>
        </div>
        <div>
            <div class="sc-ibxdXY container iPzxkQ">
                <div class="sc-RefOD row kzCQXs">
                    <div class="sc-iQKALj col-sm-7 col-xs-12 cKykSe bordered">
                        <div>
                            <div>
                                <div class="sc-eXEjpC cnTDlp">
                                    <span class="sc-kIPQKe dSrSHs"></span>
                                    <h4 class="sc-kfGgVZ bMoTGd">What if I'm applying with a cosigner?</h4>
                                </div>
                                <span class="sc-esjQYD eKLaHG">
                                    <p>We’ll ask you during the application whether you have a cosigner and give you directions for them to apply. Your cosigner doesn’t have to be with you.</p>
                                    <p>While not required, applying with a cosigner who has good credit may help you qualify for a loan or receive a lower interest rate.</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sc-caSCKo" id="main-container-step-4" tabindex="-1" style="display: none;">
    <form class="sc-fgrSAo iFwwNH findApplicationForm">
        {% csrf_token %}
        <div class="sc-kvZOFW elSnyR">
            <div class="sc-hqyNC container keRCOE">
                <div class="sc-jbKcbu row cWSlbe">
                    <div class="sc-dNLxif col-xs-10 bVdTGY">
                        <h1 class="sc-uJMKN fVpAKT">Let's find your application.</h1>
                    </div>
                    <div class="sc-jqCOkK col-xs-10 gdorVr">
                        <h2 class="sc-bbmXgH cuBMeU">We’ll just need a couple pieces of info:</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="sc-eSePXt container dUVJZU" style="transform: translateY(-20px);">
            <div class="sc-dXfzlN row" style="width: 100%; margin:0 auto;">
                <div class="col-12 custom-resize-row">
                    <div class="sc-fOKMvo">
                        <div class="sc-dUjcNx kNMihV" type="tel" spacing="true">
                            <input type="number" class="sc-gHboQg cHLlra" name="reference" title="reference" required="">
                            <label class="sc-lkqHmb" for="find-your-app-reference-number" type="tel">
                                <span>14-Digit Reference Number (without dashes)</span>
                            </label>
                            <span class="sc-fYiAbW eRawbo" type="tel" data-error="error"></span>
                        </div>
                    </div>
                    <div class=" sc-fOKMvo">
                        <div class="sc-dUjcNx dXjDpY" type="tel">
                            <input type="tel" class="sc-gHboQg cygsUF" name="ssn" title="ssn">
                            <label class="sc-lkqHmb" for="find-your-app-last-4-ssn" type="tel">
                                <span>Last 4 digits of Your Social Security #</span>
                            </label>
                            <span class="sc-fYiAbW eRawbo" type="tel" data-error="error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="response-container" style="display: flex; align-items:center; justify-content:center; text-align:center"></div>
        </div>

        <style>
            .custom-resize-row {
                margin: 0 15rem;
            }

            @media screen and (max-width: 768px) {
                .custom-resize-row {
                    margin: 0 8rem;
                }
            }

            @media screen and (max-width: 480px) {
                .custom-resize-row {
                    margin: 0 4rem;
                }
            }

            @media screen and (max-width: 320px) {
                .custom-resize-row {
                    margin: 0 0;
                }
            }
        </style>


        <div class="sc-bMvGRv container dUVJZU">
            <div class="sc-CtfFt row efFpcB">
                <div class="sc-laTMn col-md-8 col-sm-10 col-xs-12 eTTYbN">
                    <ul class="sc-hGoxap bkBOEe">
                        <li class="sc-fjmCvl egXtrJ">
                            <div class="sc-hSdWYo gJFFhu">
                                <button type="submit" class="sc-kEYyzF bTpaUX" tabindex="0" aria-label="Find" aria-describedby="button-describer">
                                    Find
                                    <!-- <span class="sc-kkGfuU bmbkEI spinner-button"></span> -->
                                </button>
                                <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer">
                                    After submission, it may take a few moments to save or retrieve your data.
                                </p>
                            </div>
                        </li>
                        <li class="sc-fjmCvl loERAN">
                            <div class="sc-hSdWYo gJFFhu">
                                <button type="button" class="sc-kEYyzF gQqeTy" tabindex="0" aria-label="Back" aria-describedby="button-describer">
                                    Back
                                    <span class="sc-kkGfuU bmbkEI"></span>
                                </button>
                                <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="sc-iFUGim jyyoZl" style="text-align: center; padding-top: 1rem">Look up my Reference Number</div>

        <div>
            <div class="sc-ibxdXY container iPzxkQ">
                <div class="sc-RefOD row kzCQXs">
                    <div class="sc-iQKALj col-sm-7 col-xs-12 cKykSe">
                        <div>
                            <div>
                                <div class="sc-eXEjpC cnTDlp"><span class="sc-kIPQKe dSrSHs"></span>
                                    <h4 class="sc-kfGgVZ bMoTGd" style="padding: 1rem 0;">Looking to start an application?</h4>
                                </div>
                                <span class="sc-esjQYD eKLaHG" style="padding-top: 30px;">
                                    <p><a class="continue-to-apply-now" href="{% url 'home' %}?showApplyModal=true">Apply Now</a></p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>


{% endblock content %}



{% block location %}
{% endblock location %}


{% block bundleJs %}
<script>
    window.App = {
        csrfToken: "{{ csrf_token }}"
    };
    window.App.urls = {
        base: "{{ base_url }}",
        static: "{{ static_url }}"
    };
    window.App.translations = {
        "en": "{{ en_translations }}"
    };
    window.App.locale = "{{ locale }}";


    $(document).ready(function () {
        const currentUrl = new URL(window.location.href);
        $("#main-container-step-1").find("button.sc-kEYyzF").each(function () {
            $(this).click(function () {
                let encodedPerson = btoa(encodeURIComponent($(this).text().trim()));
                console.log(encodedPerson);
                $(".spinner").show();
                $("#overlay").show();
                setTimeout(function () {
                    $(".spinner").hide();
                    $("#overlay").hide();
                    currentUrl.searchParams.set("SC", encodedPerson);
                    window.history.replaceState(null, "", currentUrl);
                    $("#main-container-step-1").fadeOut(500, function () {
                        $("#main-container-step-2").fadeIn(500);
                    });
                }, 1000);
            })
        });

        $("#main-container-step-2").find("button.sc-kEYyzF").each(function () {
            $(this).click(function () {
                let action = $(this).attr("data-action");

                currentUrl.searchParams.set("action", btoa(encodeURIComponent($(this).text().trim())));
                window.history.replaceState(null, "", currentUrl);

                $(".spinner").show();
                $("#overlay").show();
                var nextScreen = null;
                if (action === "existing") { nextScreen = "#main-container-step-4"; }
                if (action === "new") { nextScreen = "#main-container-step-3"; }

                setTimeout(function () {
                    $(".spinner").hide();
                    $("#overlay").hide();

                    $("#main-container-step-2").fadeOut(500, function () {
                        $(nextScreen).fadeIn(500);
                    });
                }, 1000);

            })
        })

        $(".get-started-btn").click(function () {
            const urlParams = new URLSearchParams(window.location.search);

            const paramsString = urlParams.toString();
            const applyUrl = "{% url 'loans:applications:application_entry_form' %}";
            const newUrl = paramsString ? `${applyUrl}?${paramsString}` : applyUrl;

            $("#spinner").show();
            $("#overlay").show();

            setTimeout(function () {
                window.location.href = newUrl;
            }, 2000); // Adjust delay as needed
        });


        $(".findApplicationForm").submit(function (event) {
            event.preventDefault();
            var responseHolder = $("#response-container");
            const spinnerSpan = $(this).find("button[type=submit]").text("Fetching ...");
            $(spinnerSpan).prop("disabled", true);
            setTimeout(() => {
                $(spinnerSpan).text("Find");
                $(spinnerSpan).prop("disabled", false);
                $(responseHolder).text("This is a placeholder response text from server")
                $(".findApplicationForm")[0].reset();
            }, 4000)
        });

        $(".findApplicationForm").find("button[type=button]").click(function () {
            $("#main-container-step-4").fadeOut(500, function () {
                $("#main-container-step-2").fadeIn(500);
            });
        })


    });
</script>



<script>

    $(document).ready(function () {
        $('.slick-track').slick({
            dots: true,
            infinite: false,
            speed: 300,
            autoplay: true,
            autoplaySpeed: 3000,
            slidesToShow: 2,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 700,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 2
                    }
                }
            ]
        });
    });
</script>

{% endblock bundleJs %}