{% load static i18n compress%}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% block title %}Education Loans &amp; College Planning Resources | afrifunduniversity.com{% endblock title %}
  </title>
  <link rel="shortcut icon" sizes="16x16 24x24 48x48 64x64" href="{% static 'favicons/favicon.ico' %}">
  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
  <meta name="description" content="Afri Fun University Funding Cooperation  was built to take the stress out of paying for college. We offer stress-free, customizable student loans." />
  <link rel="canonical" href="https://www.afrifunduniversity.com/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Education Loans &amp; College Planning Resources | College Ave" />
  <meta property="og:description" content="Afri Fun University Funding Cooperation was built to take the stress out of paying for college. We offer stress-free, customizable student loans." />
  <meta property="og:url" content="https://www.afrifunduniversity.com/" />
  <meta property="og:site_name" content="Afri Fun University Funding Cooperation " />
  <meta property="article:modified_time" content="2024-06-05T18:08:22+00:00" />
  <meta name="twitter:card" content="summary_large_image" />
  <script src="{% static 'js/load-scripts.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      loadJSFile("{% static 'js/load_schema.js' %}", function () { });

      loadJSFile("{% static 'js/load_gtm.js' %}", function () { });

      fetch('/meta-links/')
        .then(response => response.text())
        .then(html => {
          document
            .head
            .insertAdjacentHTML('beforeend', html);
        })
        .catch(err => console.error('Error fetching meta links:', err));
    })
  </script>
  {% block headerCss %}
  <link rel='stylesheet' href='{% static "assets/css/style.min.css" %}' />
  <link rel='stylesheet' href='{% static "assets/css/auto.css" %}' />
  <link rel='stylesheet' href='{% static "assets/css/styles.css" %}' />

  {% endblock headerCss %}
  {% block headerScript %}
  {% endblock headerScript %}
</head>

{% block body %}

<body class="home page-template page-template-page-templates page-template-home-template page-template-page-templateshome-template-php page page-id-8">
  <div class="navigation-container" data-nav="container">
    <a data-ada-skip="data-ada-skip" tabindex="0">Skip to Main Content</a>
    <div class="top-navigation-bar" data-section-name="Top Navigation">
      <div class="top-navigation-bar__container">
        <div class="top-navigation-bar__right-links">
          <div tabindex="0" data-top-nav-dropdown="trigger" class="top-nav-link top-nav-link__dropdown" data-link-name="Find My Application">
            <span class="top-nav-link__icon">
              <svg viewbox="0 0 13 15" style="color: #00818A">
                <use href="{% static 'assets/images/icons/global/document.svg' %}"></use>
              </svg>
            </span>
            <span class="top-nav-link__text">
              Find My Application
            </span>
            <div class="top-nav-link__dropdown-menu">
              <a href="" class="top-nav-link__dropdown-link" data-link-name="Return to Application">Return to Application</a>
              <a href="" class="top-nav-link__dropdown-link" data-link-name="Application Status">Application Status</a>
            </div>
          </div>
          <span class='top-nav-link-divider'></span>
          <button tabindex="0" data-open-modal="account-modal" class="top-nav-link" data-link-name="My Account">
            <span class="top-nav-link__icon">

              <svg viewbox="0 0 15 17" style="color: #00818A">
                <use src="{% static 'assets/images/icons/global/person.svg' %}"></use>

              </svg>
            </span>
            <span class="top-nav-link__text">
              My Account
            </span>
          </button>
        </div>
      </div>
    </div>
    {% include "components/header.html" %}
  </div>
  <div data-nav-offset="margin-top" class="page-wrapper" data-main-content="data-main-content" tabindex="0">
    {% block content %}
    <section class="hero hero-homepage background-color__light-teal" data-site-animation-breakpoint="992" data-section-name="A-Spot > A Better Student Loan <em>Experience.</em>">
      <div class="section-container">
        <div class="hero-homepage__container">
          <div class="hero-homepage__column-content">
            <div class="hero-homepage__text-content">
              <h1 class="h1" data-site-animation-order="0">A Better Student Loan
                <em>Experience.</em>
              </h1>
              <p class="p-large" data-site-animation-order="1">Whether you’re a parent or a student looking for a loan, we’re here for you. Take the stress out of paying for college by creating a private student loan that fits your budget and your goals. With a simple application, flexible loan options, and great customer service, we’re here to help you breathe easy on your college journey.</p>
            </div>
            <div class="hero-homepage__button-container" data-site-animation-order="2">

              <button aria-label="Apply Now" data-open-modal="apply" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-264 button__mobile-full-width">
                Apply Now
              </button>
            </div>
          </div>
          <div class="hero-homepage__column-image">

            <picture>
              <source media="(min-width: 992px)" srcset="{% static 'assets/images/hero-home-2x.png' %}">
              <source media="(min-width: 768px)" srcset="{% static 'assets/images/hero-home.png' %}">
              <img width=" 1056" height="878" src="{% static 'assets/images/hero-home-2x.png' %}" class="attachment-full size-full" alt="Group of students" decoding="async" fetchpriority="high" />
            </picture>
          </div>
        </div>
      </div>
    </section>
    <!-- the  -->
    <section class="product-cards-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Product Card Slider">
      <div class="section-container">
        <div class="product-cards-section__container">
          <div class="product-cards__container keen-slider" data-slider="product-cards">
            <div class="keen-slider__slide" data-site-animation-order="1">
              <a data-link-name="Undergraduate Student Loans" href="https://www.collegeave.com/student-loans/undergraduate/" class="product-card background-color__light-orange">
                <div class="product-card__container">
                  <div class="product-card__content-column">
                    <div class="product-card__content">
                      <h3 class="product-card__header h3">Undergraduate Student Loans</h3>
                      <ul class="checklist__list">
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}"></use>
                            </svg>
                          </span>
                          <span>3 minutes to apply</span>
                        </li>
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>Cover 100% of school costs<sup>2</sup>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="product-card__rates-container">
                      <p class="product-card__rates-label">Rates starting at</p>
                      <p class="product-card__rates">3.69% APR<sup>1</sup>
                      </p>
                    </div>
                  </div>
                  <div class="product-card__image-column">
                    <img width="513" height="506" src="{% static 'assets/images/ug_product_tile-2x.png' %}" class="attachment-full size-full" alt="undergraduate" decoding=" async" />
                  </div>
                  <div class="product-card__arrow-container">
                    <svg viewbox=" 0 0 25 15" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
            <div class="keen-slider__slide" data-site-animation-order="2">
              <a data-link-name="Graduate Student Loans" href="https://www.collegeave.com/student-loans/graduate/" class="product-card background-color__light-green">
                <div class="product-card__container">
                  <div class="product-card__content-column">
                    <div class="product-card__content">
                      <h3 class="product-card__header h3">Graduate Student Loans</h3>
                      <ul class="checklist__list">
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>No origination fees</span>
                        </li>
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>Cover 100% of school costs<sup>2</sup>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="product-card__rates-container">
                      <p class="product-card__rates-label">Rates starting at</p>
                      <p class="product-card__rates">3.74% APR<sup>1</sup>
                      </p>
                    </div>
                  </div>

                  <div class="product-card__image-column">
                    <img width="513" height="506" src="{% static 'assets/images/grad-product-image-2x.png' %}" class="attachment-full size-full" alt="Graduate Student" decoding="async" />
                  </div>
                  <div class="product-card__arrow-container">
                    <svg viewbox=" 0 0 25 15" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
            <div class="keen-slider__slide" data-site-animation-order="3">
              <a data-link-name="Student Card" href="/credit/student-card/" class="product-card background-color__light-teal">
                <div class="product-card__container">
                  <div class="product-card__content-column">
                    <div class="product-card__content">
                      <h3 class="product-card__header h3">Student Card</h3>
                      <ul class="checklist__list">
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>No credit check to qualify.</span>
                        </li>
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>No interest or late fees<sup>3</sup>.</span>
                        </li>
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>Cash back on all purchases<sup>4</sup>.</span>
                        </li>
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>Built-in fraud protection.</span>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="product-card__image-column">
                    <img width="513" height="506" src="{% static 'assets/images/student-card.png' %}" class="attachment-full size-full" alt="" decoding="async" />
                  </div>
                  <div class="product-card__arrow-container">
                    <svg viewbox=" 0 0 25 15" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
            <div class="keen-slider__slide" data-site-animation-order="4">
              <a data-link-name="Graduate Health Professions" href="https://www.collegeave.com/student-loans/graduate/health-professions/" class="product-card background-color__light-coral">
                <div class="product-card__container">
                  <div class="product-card__content-column">
                    <div class="product-card__content">
                      <h3 class="product-card__header h3">Graduate Health Professions</h3>
                      <ul class="checklist__list">
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>No origination fees</span>
                        </li>
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>Flexible repayment options</span>
                        </li>
                        <li class="checklist__list-item">
                          <span class="checklist__marker">
                            <svg viewbox="0 0 18 18" style="color: #002769">
                              <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                            </svg>
                          </span>
                          <span>Cover 100% of school costs<sup>2</sup>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="product-card__rates-container">
                      <p class="product-card__rates-label">Rates starting at</p>
                      <p class="product-card__rates">3.74% APR<sup>1</sup>
                      </p>
                    </div>
                  </div>

                  <div class="product-card__image-column">
                    <img width="513" height="506" src="{% static 'assets/images/gradhealthpro_product_tile-2x.png' %}" class="attachment-full size-full" alt="Graduate Health Professional" decoding="async" />
                  </div>
                  <div class="product-card__arrow-container">
                    <svg viewbox=" 0 0 25 15" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <section class="badge-slider-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Who we are.">
      <div class="section-container">
        <div class="badge-slider-section__container">

          <div class="responsive-background-image">

            <picture>
              <source media="(min-width: 992px)" srcset="{% static 'assets/images/who-we-are-d.png' %}">
              <source media=" (min-width: 768px)" srcset="{% static 'assets/images/who-we-are-t.png' %}">
              <source media=" (min-width: 1px)" srcset="{% static 'assets/images/who-we-are-m.png' %}">

              <img width="1300" height="550" src="{% static 'assets/images/who-we-are-d.png' %}" class="attachment-full size-full" alt="" decoding="async" srcset="{% static 'assets/images/who-we-are-d.png' %} 1300w, {% static 'assets/images/who-we-are-d-300x127.png' %} 300w, {% static 'assets/images/who-we-are-d-1024x433.png' %} 1024w, {% static 'assets/images/who-we-are-d-768x325.png' %} 768w" sizes="(max-width: 1300px) 100vw, 1300px" />
            </picture>
          </div>

          <div class=" badge-slider-section__row">
            <div class=" badge-slider-section__content-column">
              <div class="badge-slider-section__text-container">
                <h2 class="h2 badge-slider-section__text" data-site-animation-order="0">Who we are.</h2>
                <p class="p-large badge-slider-section__text" data-site-animation-order="1">We’re former students, and many of us are parents, so we get where the stress comes with applying for loans. We don’t just like to say it, so we built our business around it. Our private student loans double-major in support and simplicity so it would be as painless as possible for you. Put our useful tools, faster application, and flexible loan options to the test.</p>
              </div>
              <div data-site-animation-order="3">

                <a href="/about/" class="dropshadow dropshadow__hover-off button button__green button__width-205" data-link-name="Learn More">
                  Learn More
                </a>
              </div>
            </div>
            <div class="badge-slider-section__badge-column">
              <div class="badge-slider-section__badges-container">
                <div class="badge-slider-section__badge-grid keen-slider" data-slider="badge-slider">
                  <div class="grid-item grid-item-1 keen-slider__slide" data-site-animation-order="2">
                    <a href="" target="_blank" class="award-badge award-badge__forbes">
                      <img src="{% static 'assets/images/icons/best-private-college-lender.svg' %}" class="attachment-full size-full" alt="Forbes Advisor - Best of 2024 - Afri Fund University - Best Private Student Loan" decoding="async" />
                    </a>
                  </div>
                  <div class="grid-item grid-item-2 keen-slider__slide" data-site-animation-order="3">
                    <a href="" target="_blank" class="award-badge award-badge__us-news">
                      <img src="{% static 'assets/images/icons/afri-news.svg' %}" class="attachment-full size-full" alt="US News - Best Private Student Loans - 2022-2023" decoding="async" />
                    </a>
                  </div>
                  <div class="grid-item grid-item-3 keen-slider__slide" data-site-animation-order="4">
                    <div class="award-badge award-badge__nerd-wallet">
                      <img src="{% static 'assets/images/icons/private-wallet.svg' %}" class="attachment-full size-full" alt="Nerd Wallet - Best Private Student Loan Overall - 2024" decoding="async" />
                    </div>
                  </div>
                </div>
              </div>

              <a href="" class="dropshadow dropshadow__hover-off button button__green button__width-205" data-link-name="Learn More">
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <section class="resources-slider-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="We’ll guide you through all steps.">
      <div class="section-container">
        <div class="resources-slider-section__header-container">
          <h2 class="h2" data-site-animation-order="0">We’ll guide you through all steps.</h2>
          <p class="p-large" data-site-animation-order="1">Confidently plan for college and beyond using our free resources.</p>
        </div>
        <div class="resources-slider-section__slider-container keen-slider" data-slider="resource-cards" data-site-animation-order="2">
          <div class="keen-slider__slide">

            <a data-link-name="College Application Deadlines to Keep in Mind for 2023-2024" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">Admissions</h4>
                  <h3 class="resource-card__title">
                    College Application Deadlines to Keep in Mind for 2023-2024
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="How is Interest Calculated on Student Loans?" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">Student Loans</h4>
                  <h3 class="resource-card__title">
                    How is Interest Calculated on Student Loans?
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="File the FAFSA to Get More Money in College" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">FAFSA</h4>
                  <h3 class="resource-card__title">
                    File the FAFSA to Get More Money in College
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="Repaying Your Afri Fund University Student Loan" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">College Ave</h4>
                  <h3 class="resource-card__title">
                    Repaying Your Afri Fund University Student Loan
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="8 Types of Scholarships for Students" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">Financial Aid</h4>
                  <h3 class="resource-card__title">
                    8 Types of Scholarships for Students
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="How to Read Your Financial Aid Award Letter" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">Financial Aid</h4>
                  <h3 class="resource-card__title">
                    How to Read Your Financial Aid Award Letter
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="How Do Scholarships Work?" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">Financial Aid</h4>
                  <h3 class="resource-card__title">
                    How Do Scholarships Work?
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="How To Take Out Student Loans For College" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">Student Loans</h4>
                  <h3 class="resource-card__title">
                    How To Take Out Student Loans For College
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="What&#8217;s the Difference Between Grants, Scholarships, and Loans?" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">Paying for College</h4>
                  <h3 class="resource-card__title">
                    What&#8217;s the Difference Between Grants, Scholarships, and Loans?
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="Upcoming Changes to the FAFSA That You Should Prepare For" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">FAFSA</h4>
                  <h3 class="resource-card__title">
                    Upcoming Changes to the FAFSA That You Should Prepare For
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="10 Common FAFSA Errors to Avoid" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">FAFSA</h4>
                  <h3 class="resource-card__title">
                    10 Common FAFSA Errors to Avoid
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
          <div class="keen-slider__slide">

            <a data-link-name="How to Pay for College: A Step-by-Step Guide" href="" class="resource-card dropshadow">
              <div class="resource-card__container">
                <div class="resource-card__content">
                  <h4 class="resource-card__category">Parent Tips</h4>
                  <h3 class="resource-card__title">
                    How to Pay for College: A Step-by-Step Guide
                  </h3>
                </div>
                <span class="arrow-link" data-link-name="Learn More">
                  <span class="arrow-link__anchor">
                    Learn More
                    <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
                      <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
                    </svg>
                  </span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <section class="two-column-image-content-equal background-color__light-green" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Enter Our Scholarship Monthly Sweepstakes">
      <div class="section-container">
        <div class="two-column-image-content-equal__container background-color__white" data-site-animation-order="0">
          <div class="two-column-image-content__column two-column-image-content__column-image" data-site-animation-order="1">
            <picture>
              <source media="(min-width: 1200px)" srcset="{% static 'assets/temp/promo.png' %}" #="#">
              <img src=" {% static 'assets/temp/promo.png' %}" alt="">
            </picture>
          </div>
          <div class="two-column-image-content__column two-column-image-content__column-content">
            <div class="content-text-container">
              <h2 class="h2" data-site-animation-order="2">Enter our
                <span style='display: inline-block; font-family: "FigtreeBold", sans-serif; color: #00A4B3; background-color: #D1EEF2; padding: 0 10px; border-radius: 6px;'>$1,000</span>
                Scholarship Monthly Sweepstakes
              </h2>
              <p class="p-large" data-site-animation-order="3">We'll be choosing one winner each month to receive $1,000 for school, so make sure to check back each month and enter. We want to offer you more help, so you can stress less about upcoming school-related costs.</p>
            </div>
            <div data-site-animation-order="4">

              <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-210" data-link-name="Enter Today">
                Enter Today
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <section class="two-column-icon-with-button" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="See Your College Loan in Action">
      <div class="section-container">
        <div class="two-column-icon-with-button__container">

          <div class="responsive-background-image">

            <picture>
              <source media="(min-width: 992px)" srcset="{% static 'assets/images/light-wave-bg-d-1.png' %}">
              <source media=" (min-width: 768px)" srcset="{% static 'assets/images/light-wave-bg-t-1.png' %}" #="#">
              <source media=" (min-width: 1px)" srcset="{% static 'assets/images/light-wave-bg-m-1.png' %}">
              <img width=" 1300" height="474" src="{% static 'assets/images/light-wave-bg-d-1.png' %}" class="attachment-full size-full" alt=" " decoding=" async" />
            </picture>
          </div>
          <div class=" two-column-icon-with-button__row">
            <div class=" two-column-icon-with-button__column-content">
              <div class="two-column-icon-with-button__content">
                <div class="two-column-icon-with-button__header" data-site-animation-order="0">
                  <h2 class="h2">See Your College Loan in Action.</h2>
                </div>
                <p class="p-large" data-site-animation-order="1">Put your worries and anxiety aside and get a glimpse of what your future loan payments will look like and how you can make your loan work for you. We'll show you all your options and interest rates so there are no unexpected surprises.</p>
              </div>
            </div>

            <div class="two-column-icon-with-button__column-object-container dropshadow" data-site-animation-order="2">
              <div class="two-column-icon-with-button__column-object">
                <div class="two-column-icon-with-button__image">
                  <picture>
                    <source media="(min-width: 992px)" srcset="{% static 'assets/temp/cal-icon.svg' %}">
                    <img src="{% static 'assets/temp/cal-icon.svg' %}">
                  </picture>
                </div>

                <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-270" data-link-name="Calculate Your Loan">
                  Calculate Your Loan
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <section class="two-column-image-content-offset" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="College Ave's Credit Card">
      <div class="section-container">
        <div class="two-column-image-content-offset__container background-color__gray">
          <div class="two-column-image-content-offset__row">
            <div class="two-column-image-content-offset__column-content">
              <div class="two-column-image-content-offset__content">
                <div class="two-column-image-content-offset__headers">
                  <h2 class="h2" data-site-animation-order="1">You're Ready to Build Credit. We're Here to Help.</h2>
                </div>
                <div data-site-animation-order="2">
                  <ul class="checklist__list">
                    <li class="checklist__list-item">
                      <span class="checklist__marker">
                        <svg viewbox="0 0 18 18" style="color: #002769">
                          <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                        </svg>
                      </span>
                      <span>No credit check to qualify.</span>
                    </li>
                    <li class="checklist__list-item">
                      <span class="checklist__marker">
                        <svg viewbox="0 0 18 18" style="color: #002769">
                          <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                        </svg>
                      </span>
                      <span>No interest or late fees<sup>3</sup>.</span>
                    </li>
                    <li class="checklist__list-item">
                      <span class="checklist__marker">
                        <svg viewbox="0 0 18 18" style="color: #002769">
                          <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                        </svg>
                      </span>
                      <span>Cash back on all purchases<sup>4</sup>.</span>
                    </li>
                    <li class="checklist__list-item">
                      <span class="checklist__marker">
                        <svg viewbox="0 0 18 18" style="color: #002769">
                          <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                        </svg>
                      </span>
                      <span>Built-in fraud protection.</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div data-site-animation-order="3">

                <a href="https://ambition.collegeave.com/create-account" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-203" data-link-name="Start Today">
                  Start Today
                </a>
              </div>
            </div>
            <div class="two-column-image-content-offset__column-image" data-site-animation-order="3">

              <picture>
                <source media="(min-width: 992px)" srcset="{% static 'assets/images/student-card.png' %}">
                <img width=" 1210" height=" 1142" src="{% static 'assets/images/student-card.png' %}" class=" attachment-full size-full" alt="" decoding="async" />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <section class="two-column-text-section background-color__white" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Let' s=" s" get=" get" started,=" started," you've got this."="started," you've got this."">
      <div class="section-container">
        <div class="two-column-text-section__container two-column-text-section__image_text">
          <div class="two-column-text-section__image-column" data-site-animation-order="0">

            <picture>
              <source media="(min-width: 992px)" srcset="{% static 'assets/images/sitting-student-2x.png' %}">
              <img width=" 987" height="974" src="{% static 'assets/images/sitting-student-2x.png' %}" class=" attachment-full size-full" alt=" sitting student" decoding=" async" />
            </picture>
          </div>

          <div class=" two-column-text-section__content-column">
            <div class=" two-column-text-section__content">
              <div class="two-column-text-section__text-content">
                <h2 class="h2" data-site-animation-order="1">Let's get started, you've got this.</h2>
              </div>
              <div class="two-column-text-section__button-container" data-site-animation-order="3">

                <a href="/prequalify/" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-203" data-link-name="Prequalify">
                  Prequalify
                </a>

                <button aria-label="Apply Now" data-open-modal="apply" class="dropshadow dropshadow__hover-off button button__dark-blue button__width-203">
                  Apply Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <section class="footnotes accordion_small" data-target="footnotes-section" data-section-name="Footnotes">
      <a class="footnotes__toggle accordion-toggle">
        <p class="footnotes__header">Footnotes</p>
        <span class="footnotes__arrow">
          <svg width="16" height="14" viewbox="0 0 16 14" style="color: #002769">
            <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
          </svg>
        </span>
      </a>
      <div class="section-container">
        <div class="accordion-content">
          <div>
            <div class="footnotes__content">
              <div class="footnote__item">
                <span class="footnote__id">1</span>
                <p class="p-xsmall">Variable rates may increase after consummation. The 0.25% auto-pay interest rate reduction applies as long as a valid bank account is designated for required monthly payments. If a payment is returned, you will lose this benefit.</p>
              </div>
              <div class="footnote__item">
                <span class="footnote__id">2</span>
                <p class="p-xsmall">As certified by your school and less any other financial aid you might receive. Minimum $1,000.</p>
              </div>
              <div class="footnote__item">
                <span class="footnote__id">3</span>
                <p class="p-xsmall">0% Annual Percentage Rate. Account is subject to a monthly account fee of $2, account fee is waived for the initial six-monthly billing cycles.</p>
              </div>
              <div class="footnote__item">
                <span class="footnote__id">4</span>
                <p class="p-xsmall">Cash back rewards are subject to the Ambition Rewards
                  <a href="/rewards/terms/">Terms & Conditions</a>.
                </p>
              </div>
              <div class="footnote__item">
                <p class="p-xsmall">2024 award from ForbesAdvisor.com, &copy; Forbes Marketplace Operations, Inc.</p>
              </div>
              <div class="footnote__item">
                <p class="p-xsmall">&copy;2017-2024 and TM, NerdWallet, Inc. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    {% endblock content %}
    <!--  -->

    {% block modal %}
    <dialog class="modal background-color__white" data-modal="account-modal" data-section-name="Account Modal">
      <div class="account-modal">
        <div class="account-modal__container">
          <div class="account-modal__column">
            <div class="account-modal__column-container">
              <div class="account-modal__column-content">
                <div class="account-modal__column-content-text">
                  <h3 class="h3">My Loan Account</h3>
                  <p class="p-large">View, manage and pay down your
                    <span class="no-text-wrap">College Ave loan(s).</span>
                  </p>
                </div>

                <a href="http://127.0.0.1:8100" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-247" data-link-name="Manage My Loan">
                  Manage My Loan
                </a>

              </div>
              <div class="account-modal__download-container">
                <div class="account-modal__download-desktop">
                  <div class="account-modal__download-qr-code">
                    <img width="3000" height="3000" src="{% static 'assets/images/loan-app-qr.png' %}" class="attachment-full size-full" alt="" decoding=" async" loading=" lazy" />
                  </div>
                  <p class=" p-small account-modal__download-header">
                    Scan to download our loan repayment app</p>
                </div>
                <div class=" account-modal__download-mobile">
                  <p class="p-small account-modal__download-header">Download our loan repayment app</p>
                  <div class="account-modal__download-stores">
                    <a data-link-name="Google Play Store" target="_blank" rel="nofollow, noopener" href="https://play.google.com/store/apps" class="account-modal__app-store-link" aria-label="Google Play Store">
                      <img width="1" height="1" src="{% static 'assets/images/icons/google.svg' %}" class="attachment-thumbnail size-thumbnail" alt="Get it on Google Play" decoding="async" loading="lazy" />
                    </a>
                    <a data-link-name="Apple App Store" target="_blank" rel="nofollow, noopener" href="" class="account-modal__app-store-link" aria-label="Apple App Store">
                      <img width="1" height="1" src="{% static 'assets/images/icons/apple.svg' %}" class="attachment-thumbnail size-thumbnail" alt="Download on the App Store" decoding="async" loading="lazy" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="account-modal__divider">
            <div class="account-modal__divider-line"></div>
            <div class="account-modal__divider-text">
              <p>or</p>
            </div>
          </div>
          <div class="account-modal__column">
            <div class="account-modal__column-container">
              <div class="account-modal__column-content">
                <div class="account-modal__column-content-text">
                  <h3 class="h3">My Student Card Account</h3>
                  <p class="p-large">View, manage, transfer funds or make payments to your Ambition Card.</p>
                </div>

                <a href="http://127.0.0.1:8100" target="_blank" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-247" data-link-name="Manage My Ambition Card">
                  Manage My Ambition Card
                </a>

              </div>
              <div class="account-modal__download-container">
                <div class="account-modal__download-desktop">
                  <div class="account-modal__download-qr-code">
                    <img width="1200" height="1200" src="{% static 'assets/images/loan-app-qr.png' %}" class=" attachment-full size-full" decoding=" async" loading=" lazy" />
                  </div>
                  <p class=" p-small account-modal__download-header">Scan to download our Ambition Card app</p>
                </div>
                <div class=" account-modal__download-mobile">
                  <p class="p-small account-modal__download-header">Download our Ambition Card app</p>
                  <div class="account-modal__download-stores">
                    <a data-link-name="Google Play Store" target="_blank" rel="nofollow, noopener" href="" class="account-modal__app-store-link" aria-label="Google Play Store">
                      <img width="1" height="1" src="{% static 'assets/images/icons/google.svg' %}" class="attachment-thumbnail size-thumbnail" alt="Get it on Google Play" decoding="async" loading="lazy" />
                    </a>
                    <a data-link-name="Apple App Store" target="_blank" rel="nofollow, noopener" href="" class="account-modal__app-store-link" aria-label="Apple App Store">
                      <img width="1" height="1" src="{% static 'assets/images/icons/apple.svg' %}" class="attachment-thumbnail size-thumbnail" alt="Download on the App Store" decoding="async" loading="lazy" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="modal-close-button" data-close-modal="account-modal">
        <svg width="20" height="20" viewbox="0 0 20 20" style="color: #00818A">
          <use href="{% static 'assets/images/icons/global/x_close.svg' %}#x_close"></use>
        </svg>
      </button>
    </dialog>
    <!--  -->
    {% include "components/modals/apply.html" %}
    <!--  -->
    {% endblock modal %}
    <!--  -->
    <!-- Footer component section -->
    {{request.user}}
    {% include "components/footer.html" %}
  </div>
  <!--  -->
  <script src="{% static 'js/lib/js/jquery-3.6.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/scripts/scripts.js' %}?ver=1726234421" id="scripts-js"></script>
  {% block pressScript %}{% endblock pressScript %}
  <!-- <script type="text/javascript" src="{% static 'assets/js/react-app/react-app.js' %}?ver=1726234432" id="survey-js" defer="defer"></script> -->
  {% block formScript %}{% endblock formScript %}
</body>
{% endblock body %}

</html>