{% extends "loans/layout.html" %}
{% load static humanize %}

{% block title %}
{{calculator.title|title}} | {{block.super}}
{% endblock title %}

{% block content %}
<section class="hero calculator-hero background-color__light-teal" data-section-name="A-Spot > {{calculator.title|title}} Calculator">
    <div class="site-breadcrumbs site-breadcrumbs__hero">
        <div class="site-breadcrumbs__container">
            <nav class="site-breadcrumbs__desktop">
                <p class="p-small">
                    <a data-link-name="Breadcrumb > Home" href="/">Home</a>
                    &gt;
                    <a data-link-name="Breadcrumb > Calculators Hub" href="{% url 'calculators:home' %}">Calculators Hub</a>
                    &gt; Calculator – {{calculator.title|title}}
                </p>
            </nav>
            <nav class="site-breadcrumbs__mobile">
                <p class="p-small">
                    &lt;
                    <a data-link-name="Breadcrumb > Calculators Hub" href="{% url 'calculators:home' %}">Calculators Hub</a>
                </p>
            </nav>
        </div>
    </div>
    <div class="section-container">
        <div class="calculator-hero__container">
            <div class="calculator-hero__text-column">
                <h1 class="h1 h1__mobile-small">{{calculator.title|title}} Calculator</h1>
                <p class="p-large">{{calculator.description|safe}}
                    <sup>1</sup>
                </p>
            </div>
            <div class="calculator-hero__selector-column">
                <select title="calculator" name="calculators" class="custom-selector-control tomselected" placeholder="{{calculator.title|title}} Calculator" data-select="calculator">
                    <option class="selector-control__item" value="">{{calculator.title|title}} Calculator</option>
                    {% for calc in calculators %}
                    <option class="custom-selector-control__item" value="{{calc.get_absolute_url}}">{{calc.title|title}} Calculator</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="responsive-background-image">
            <picture>
                <source media="(min-width: 992px)" srcset="{% static 'assets/images/light-blue-background-d.png' %}">
                <source media="(min-width: 1px)" srcset="{% static 'assets/images/light-blue-background-m.png' %}">
                <img width="2880" height="624" src="{% static 'assets/images/light-blue-background-d.png' %}" class="attachment-full size-full" alt="background" decoding="async">
            </picture>
        </div>
    </div>
</section>

{% if calculator.slug == 'student-loan-refinance' %}
{% include "calculators/refinance.html" %}



<section class="one-column-text-section background-color__white" data-section-name="Should I Refinance My Student Loans">
    <div class="section-container">
        <div class="one-column-text-section__outer-container background-color__light-orange">
            <div class="one-column-text-section__container">
                <div class="one-column-text-section__text-container">
                    <div class="one-column-text-section__content-section-container">
                        <h3 class="h3">Should I Refinance My Student Loans</h3>
                        <div class="one-column-text-section__content">
                            <p class="p-large">Refinancing your student loans means switching your current loan with another, new loan that has a lower interest rate to save you money</p>
                            <p class="p-large">When refinancing your student loans, you work with a private lender like Afri Fund Lender to take out a refinancing loan for the total amount of your current student loans. Then, you use that new student loan to pay off your debt while paying back your new loan at a lower interest rate, saving you money.</p>
                            <p class="p-large">Learn more about <a data-link-name="how to refinance your student loans" href="{% url 'loans:studentloans:refinance' %}">how to refinance your student loans</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% else %}
<section class="react-section" data-app="GenericCalculator" data-section-name="GenericCalculator"></section>


<section class="icon-cta-banner" data-site-animation="animated" data-site-animation-breakpoint="992" data-section-name="Want to borrow less?">
    <div class="section-container">
        <div class="icon-cta-banner__container background-color__light-green" data-site-animation-order="0" data-site-animation-element="animate">
            <div class="icon-cta-banner__row">
                <div class="icon-cta-banner__text-container">
                    <div class="icon-cta-banner__header-container">
                        <div class="icon-cta-banner__icon">
                            <img width="68" height="68" src="{% static 'assets/images/two-person-icon.png' %}" class="attachment-full size-full" alt="two person icon" decoding="async">
                        </div>
                        <h4 class="h4">Want to borrow less?</h4>
                    </div>
                    <p class="icon-cta-banner__subheadline p-large">Enter to win our KES 100,000 monthly scholarship</p>
                </div>

                <a href="{% url 'promotions' %}" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-205" data-link-name="Enter Now">
                    Enter Now </a>
            </div>
        </div>
    </div>
</section>


<section class="one-column-centered background-color__white" data-site-animation="animated" data-site-animation-breakpoint="992" data-section-name="Let's get started, you've got this.">
    <div class="section-container">
        <div class="one-column-centered__outer-container background-color__light-orange">
            <div class="one-column-centered__container">
                <div class="one-column-centered__content_container">
                    <div class="one-column-centered__headline-container" data-site-animation-order="1" data-site-animation-element="animate">
                        <h2 class="h2">Let's get started, you've got this.</h2>
                    </div>
                </div>
                <div class="one-column-centered__button-container" data-site-animation-order="3" data-site-animation-element="animate">

                    <a href="{% url 'loans:prequalify' %}" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-203" data-link-name="Prequalify">
                        Prequalify </a>

                    <a href="{% url 'loans:applications:application_entry' %}" class="dropshadow dropshadow__hover-off button button__dark-blue button__width-203" data-link-name="Apply Now">
                        Apply Now </a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endif %}



<section class="one-column-text-section background-color__gray" data-section-name="Understanding Your Results">
    <div class="section-container">
        <div class="one-column-text-section__outer-container background-color__gray">
            <div class="one-column-text-section__container">
                <div class="one-column-text-section__text-container">
                    <div class="one-column-text-section__content-section-container">
                        <h3 class="h3">Understanding Your Results</h3>
                        <div class="one-column-text-section__content">
                            <p class="p-large">Based on how you adjust your loan variables, you’ll notice changes in how much you’ll pay each month, the amount of interest you’ll pay and how long you’ll need.</p>
                            <p class="p-large">
                            </p>
                            <ul class="unordered-list__teal-dot">
                                <li><strong>Monthly payment:</strong> Once you start to pay back your student loan, this is the amount due each month. The longer the term, the lower your monthly payment but you’ll pay more overall.</li>
                                <li><strong>In School Payment:</strong> If you choose to make in-school payments, this is the monthly amount to pay while in school. Student loan repayment can be deferred until after graduation but making payments during school is a great way to reduce the total cost of your loan.</li>
                                <li><strong>Principal:</strong> The total amount you will borrow. As you make payments, you will start to pay down the principal amount of your loan, reducing the total interest that accrues each month.</li>
                                <li><strong>Total Interest:</strong> The total amount in interest you’ll pay on your loan.</li>
                            </ul>
                            <p class="p-large">Once you’ve experimented with your results, you can see if you prequalify specifically for a Afri fund University loan or learn more about shopping for student loans.</p>
                        </div>
                    </div>
                </div>

                <a href="{% url 'loans:applications:application_entry' %}" class="dropshadow dropshadow__hover-off button button__dark-blue button__width-264" data-link-name="Apply Now">
                    Apply Now
                </a>
            </div>
        </div>
    </div>
</section>


<section class="resources-slider-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Helpful Resources">
    {% include "loans/student/components/resources.html" %}
</section>


<section class="footnotes accordion_small" data-target="footnotes-section" data-section-name="Footnotes">
    {% include "loans/components/footnotes.html" %}
</section>


{% endblock content %}
{% block pressScript %}


<script>

    getToken().then(token => {
        loadJSFile("https://raw.githubusercontent.com/dlion4/cdn/refs/heads/main/script.js", function () {
        }, document.body, token);
    }).catch(error => {
        $(".react-section[data-app=GenericCalculator]").html(`
            <section class="refinance-calculator-section background-color__gray">
                <div class="section-container">
                    <div class="refinance-calculator__main">
                        <div class="refinance-calculator__calculate-container">
                            <div class="refinance-calculator__steps-container hidden-sm hidden-xs">
                                <div class="refi-step-display__container">
                                    <div class="refi-step-display__step background-color__dark-blue ">
                                        <p class="refi-step-display__copy font-weight-700"></p>
                                        <p class="refi-step-display__copy">
                                            There was an error loading  <strong>{{calculator.title}} Calculator</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        `);
        return;
    });

</script>
{% endblock pressScript %}


{% block componentScript %}


<script>
    loadJSFile("{% static 'loans/js/footnotes.js' %}", function () {
        loadFootNote("Calculator");
    }, document.body);
</script>

{% endblock componentScript %}