{% load static i18n compress%}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}Education Loans &amp; College Planning Resources | afrifunduniversity.com{% endblock title %}
    </title>
    <link rel="shortcut icon" sizes="16x16 24x24 48x48 64x64" href="{% static 'favicons/favicon.ico' %}">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content="Afri Fun University Funding Cooperation  was built to take the stress out of paying for college. We offer stress-free, customizable student loans.">
    <link rel="canonical" href="https://www.afrifunduniversity.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Education Loans &amp; College Planning Resources | Afri Fund University">
    <meta property="og:description" content="Afri Fun University Funding Cooperation was built to take the stress out of paying for college. We offer stress-free, customizable student loans.">
    <meta property="og:url" content="https://www.afrifunduniversity.com/">
    <meta property="og:site_name" content="Afri Fun University Funding Cooperation ">
    <meta property="article:modified_time" content="2024-06-05T18:08:22+00:00">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="robots" content="noindex, nofollow">
    <script src="{% static 'js/load-scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
    <script>
        window.matchMedia = window.matchMedia || function () {
            return {
                matches: false,
                addListener: function () { },
                removeListener: function () { }
            };
        };
    </script>
    {% block headerCss %}


    <link rel="stylesheet" href="https://use.typekit.net/kao3ggf.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'loans/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'loans/css/style.css' %}" rel="stylesheet">
    {% endblock headerCss %}
</head>



<style>
    body {
        transition: opacity 0.5s ease;
        opacity: 1;
    }

    .fade-out {
        opacity: 0;
    }
</style>


<body>
    {% block loader %}
    <div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9999;">
        <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 20px;">Loading...</p>
    </div>
    <script>
        (function () {
            try {
                document.getElementById('overlay').style.display = 'block';
            } catch (error) {
                console.log(error)
            }
        })()
    </script>
    {% endblock loader %}
    <div>
        <header class="sc-gzVnrw jpEJBl">
            <div class="sc-htoDjs row gzyNvk">
                <div class="sc-dnqmqq container bXQwnd">
                    <div href="{% url 'home' %}" class="col-xs-5 col-sm-4 col-md-2 logo-container">
                        <img style="width: 100px; height: auto;" src="{% static 'images/logo.svg' %}" class="logo-img" alt="Afrifund Logo">
                        <style>
                            .logo-img {
                                transform: translateY(3px);
                            }
                        </style>
                    </div>
                    <div class="sc-gqjmRU col-xs-1 col-sm-3 col-md-3 huTGmv" style="padding-top: .95rem;">
                        <span title="image padlock" class="sc-VigVT bGHqkK" role="img" aria-describedby="padlock-image-describer"></span>
                        <div class="sc-bZQynM eoLCPG" aria-hidden="false" id="padlock-image-describer">padlock icon</div>
                        <span class="sc-jTzLTM iLZqcB">Your information is secure using 256-bit encryption security</span>
                    </div>
                </div>
            </div>
        </header>



        {% block content %}
        <section class="sc-caSCKo bcmzeY" id="main-container" tabindex="-1">
            <div class="sc-bYSBpT jbbTLM">
                <div class="sc-kvZOFW elSnyR">
                    <div class="sc-hqyNC container keRCOE">
                        <div class="sc-jbKcbu row cWSlbe">
                            <div class="sc-dNLxif col-xs-10 bVdTGY">
                                <h1 class="sc-uJMKN fVpAKT">Hello!</h1>
                            </div>
                            <div class="sc-jqCOkK col-xs-10 gdorVr">
                                <h2 class="sc-bbmXgH cuBMeU">Let's get you to the right place.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="sc-elJkPf fNiqzt">Please tell us who you are:</h2>
                <div class="sc-hSdWYo gJFFhu">
                    <button type="button" class="sc-kEYyzF gRIcXi" tabindex="0" aria-label="Student Borrower" aria-describedby="button-describer">
                        Student Borrower
                        <span class="sc-kkGfuU bmbkEI"></span>
                    </button>
                    <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer"></p>
                </div>
                <br>
                <br>
                <div class="sc-hSdWYo gJFFhu">
                    <button type="button" class="sc-kEYyzF gRIcXi" tabindex="0" aria-label="Cosigner" aria-describedby="button-describer">
                        Parent Borrower
                        <span class="sc-kkGfuU bmbkEI"></span>
                    </button>
                    <p class="sc-iAyFgw kPJnip" aria-hidden="false" id="button-describer"></p>
                </div>
            </div>
        </section>
        {% endblock content %}
        <footer class="sc-cSHVUG dYyBEM">
            <div class="sc-kAzzGY container jijDRF">
                <div class="sc-chPdSV row byfFmt">
                    <div class="sc-kgoBCf col-xs-12 kAZUrn">
                        <span class="sc-kGXeez dIoerJ">
                            <span>
                                © 2024 Afri Fund University Student Loans. All Rights Reserved.
                            </span>
                        </span>
                        <ul class="sc-kpOJdX dlaMly">
                            <li class="sc-dxgOiQ hrLcXl">
                                <a class="sc-ckVGcZ gcGTos" href="{% url 'terms-of-use' %}" target="_blank" aria-label="key &amp;#39;footer.links.terms-conditions (en)&amp;#39; returned an object instead of string. opens in a new window">Terms &amp; Conditions</a>
                            </li>
                            <li class="sc-dxgOiQ hrLcXl">
                                <a class="sc-ckVGcZ gcGTos" href="{% url 'privacy' %}" target="_blank" aria-label="key &amp;#39;footer.links.privacy-policy (en)&amp;#39; returned an object instead of string. opens in a new window">Privacy Policy</a>
                            </li>
                        </ul>
                        <a class="sc-jKJlTe iHgKkA" href="" target="_blank" id="bbblink" rel="nofollow" aria-label="Better Business Bureau opens in a new window">
                            <img class="sc-eNQAEJ gIJpCP" src="{% static 'loans/images/bbb.png' %}" alt="Afri Fund University Student Loans, LLC BBB Business Review">
                        </a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <script src="{% static 'js/lib/js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'loans/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/slick/slick.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $(".logo-container").click(function () {
                window.location.href = "{% url 'home' %}";
            })
        })
    </script>

    {% block location %}
    <script>
            (function () {
                // Function to generate a random string
                function generateRandomString(length) {
                    const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                    let result = '';
                    for (let i = 0; i < length; i++) {
                        const randomIndex = Math.floor(Math.random() * chars.length);
                        result += chars[randomIndex];
                    }
                    return result;
                }
                function encodeMessage(message) { return btoa(message) }
                var k;
                let getDeviceId = function () {
                    if (k) {
                        try {
                            document.getElementById('overlay').style.display = 'none';
                            return k;
                        } catch (error) {
                            return null;
                        }
                    }


                    $.ajax({
                        url: "/user-location/",
                        type: "GET",
                        async: false,
                        cache: false,
                        timeout: 1000,
                        error: function (jq, jshx, text) {
                            console.log("error", text);
                        },
                        success: function (response) {
                            let data = JSON.parse(response);
                            console.log(data)
                            const eastAfricaCountries = ["Kenya", "Tanzania", "Uganda"];
                            let redirectUrl = "";

                            const isNotEastAfrica = !eastAfricaCountries.includes(data?.country_name);
                            const hasPrivacyCircumventions = data?.privacy?.vpn || data?.privacy?.tor || data?.privacy?.proxy;

                            console.log(isNotEastAfrica)
                            console.log(hasPrivacyCircumventions)

                            if (isNotEastAfrica && hasPrivacyCircumventions) {
                                const redirectUrl = `/loans/applications/error?msg=${encodeMessage('multiple-errors')}`;
                                document.body.classList.add('fade-out');
                                setTimeout(() => {
                                    window.location.href = redirectUrl;
                                }, 5000);
                                return false;
                            }

                            if (hasPrivacyCircumventions) {
                                const redirectUrl = `/loans/applications/error?msg=${encodeMessage('ip-masking')}`;
                                document.body.classList.add('fade-out');
                                setTimeout(() => {
                                    window.location.href = redirectUrl;
                                }, 5000);
                                return false;
                            }


                            if (!eastAfricaCountries.includes(data.country_name)) {
                                redirectUrl = `/loans/applications/error?msg=${encodeMessage('outside-country')}`;
                                if (redirectUrl) {
                                    document.body.classList.add('fade-out');
                                    setTimeout(() => {
                                        window.location.href = redirectUrl;
                                    }, 5000);
                                }
                            }

                            if (redirectUrl === "") {
                                document.body.classList.add('fade-out');
                                setTimeout(() => {
                                    const url = new URL(window.location.href);
                                    const scValue = url.searchParams.get('SC');
                                    const uniqueId = generateRandomString(32); // Length can be adjusted
                                    window.location.href = `/loans/applications/apply?SC=${scValue}&id=${encodeURIComponent(uniqueId)}`;
                                }, 5000);
                            }
                            console.log(redirectUrl);
                            return null;
                        },
                    });
                    return k;
                };
                getDeviceId();
            })()
    </script>
    {% endblock location %}



    <script type="text/javascript" src="{% static 'loans/js/cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'loans/js/chats.js' %}"></script>
    <script type="text/javascript" scr="{% static 'loans/js/script.js' %}"></script>

    {% block bundleJs %}
    {% endblock bundleJs %}

</body>

</html>