{% load static %}

<div data-site-animation-order="1">

  <li class="faq-section__item accordion" data-show-more="item">
    <a data-link-name="What is Afri Fund  Student Loans?" class="faq-section__question accordion-toggle" tabindex="0">
      <span class="faq-section__question-text">What is Afri Fund Student Loans?</span>
      <div class="faq-section__question-text__icon">

        <svg viewbox="0 0 20 20" style="color: #002769">
          <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
        </svg>
      </div>
    </a>
    <div class="accordion-content">
      <div>
        <div class="faq-section__answer">
          <p>Afri Fund Student Loans launched in 2014, with a goal to create private student loan products that help students pay for school as easily and inexpensively as possible.</p>
        </div>
      </div>
    </div>
  </li>
</div>
<div data-site-animation-order="2">

  <li class="faq-section__item accordion" data-show-more="item">
    <a data-link-name="Who is eligible for an undergraduate student loan with Afri Fund ?" class="faq-section__question accordion-toggle" tabindex="0">
      <span class="faq-section__question-text">Who is eligible for an undergraduate student loan with Afri Fund ?</span>
      <div class="faq-section__question-text__icon">

        <svg viewbox="0 0 20 20" style="color: #002769">
          <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
        </svg>
      </div>
    </a>
    <div class="accordion-content">
      <div>
        <div class="faq-section__answer">
          <p>To qualify, undergraduate students with a social security number must be enrolled at an eligible school. International students will need to apply with a qualified cosigner that is a U.S. Citizen or a Permanent Resident. All students must meet the
            <a href="/blog/satisfactory-academic-progress/">satisfactory academic progress (or SAP)</a>
            guidelines as defined by their school.</p>
          <p>A cosigner may be needed for student borrowers who do not meet financial, credit, or other requirements of taking out a private loan.</p>
        </div>
      </div>
    </div>
  </li>
</div>
<div data-site-animation-order="3">

  <li class="faq-section__item accordion" data-show-more="item">
    <a data-link-name="Do you require students to make satisfactory academic progress (SAP) in order to receive the loan?" class="faq-section__question accordion-toggle" tabindex="0">
      <span class="faq-section__question-text">Do you require students to make satisfactory academic progress (SAP) in order to receive the loan?</span>
      <div class="faq-section__question-text__icon">

        <svg viewbox="0 0 20 20" style="color: #002769">
          <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
        </svg>
      </div>
    </a>
    <div class="accordion-content">
      <div>
        <div class="faq-section__answer">
          <p>Yes, we ask the school to verify satisfactory academic progress (SAP) during school certification. The school applies their individual criteria for SAP. In other words, we don’t define SAP, but we do ask the school to confirm that the student is making SAP according to each school’s definition.</p>
        </div>
      </div>
    </div>
  </li>
</div>
<div data-site-animation-order="4">

  <li class="faq-section__item accordion" data-show-more="item">
    <a data-link-name="Can a cosigner be released from a loan?" class="faq-section__question accordion-toggle" tabindex="0">
      <span class="faq-section__question-text">Can a cosigner be released from a loan?</span>
      <div class="faq-section__question-text__icon">

        <svg viewbox="0 0 20 20" style="color: #002769">
          <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
        </svg>
      </div>
    </a>
    <div class="accordion-content">
      <div>
        <div class="faq-section__answer">
          <p>Yes. If the borrower meets the following criteria, they can submit an application requesting to remove their cosigner from the loan:</p>
          <ol>
            <li>Must be a U.S.Citizen or permanent resident</li>
            <li>Half of the original repayment term must have elapsed. (for example, if your loan has a 10-year repayment term the loan is eligible for cosigner release after the 5th year).</li>
            <li>Documented annual income is at least twice the balance of outstanding loan(s) (pay stubs, tax returns, or other evidence of income must be submitted).</li>
            <li>Pass a credit review and has none of the following:
              <ol>
                <li>30 day or greater delinquency in the last 12 months, and</li>
                <li>bankruptcy, foreclosure, or repossession in the last 24 months.</li>
              </ol>
            </li>
          </ol>
          <p>To submit an application, go to the Document Upload Center. Select the option for 'Cosigner release application' and provide all required information.</p>
        </div>
      </div>
    </div>
  </li>
</div>
<div data-site-animation-order="5">

  <li class="faq-section__item accordion" data-show-more="item">
    <a data-link-name="Do you have multi-year approval?" class="faq-section__question accordion-toggle" tabindex="0">
      <span class="faq-section__question-text">Do you have multi-year approval?</span>
      <div class="faq-section__question-text__icon">

        <svg viewbox="0 0 20 20" style="color: #002769">
          <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
        </svg>
      </div>
    </a>
    <div class="accordion-content">
      <div>
        <div class="faq-section__answer">
          <p>With Afri Fund Multi-Year Peace of Mind<sup>&reg;</sup>
            you can get the money you need for your entire degree. 90% of our undergraduate borrowers are approved for additional loans to cover their degree when they apply with a cosigner<sup>3</sup>. This means less stress for more semesters. This is only available with our Undergraduate Student Loans.</p>
        </div>
      </div>
    </div>
  </li>
</div>
