{% load static %}


<section class="compare-table-section p-small background-color__gray" data-site-animation="animated" data-site-animation-breakpoint="992" data-section-name="See How We Compare to Other Private Lenders">
    <div class="section-container">
        <div class="compare-table-section__container" data-compare-table="container">
            <div class="compare-table-section__header-container">
                <h2 class="h2" data-site-animation-order="0" data-site-animation-element="animate">
                    See How We Compare to Other Private Lenders
                </h2>
            </div>
            <div class="compare-table-section__table-container" data-site-animation-order="2" data-site-animation-element="animate">
                <div class="compare-table-section__mobile-selector background-color__white">
                    <button class="button compare-table-section__mobile-selector-button p-small active" data-compare-table="toggle" data-table-option="Sallie Mae">Sallie Mae</button>
                    <button class="button compare-table-section__mobile-selector-button p-small" data-compare-table="toggle" data-table-option="Discover">Discover</button>
                </div>
                <table class="compare-table-section__compare-table" data-compare-table="table">
                    <tbody>
                        <tr class="compare-table-section__compare-row compare-table-section__compare-headers" data-compare-table="row">
                            <th scope="col" class="compare-table-section__compare-cell compare-table-section__compare-header compare-table-section__empty-header"></th>
                            <th scope="col" class="compare-table-section__compare-cell compare-table-section__compare-header compare-table-section__compare-header-featured">College Ave</th>
                            <th scope="col" class="compare-table-section__compare-cell compare-table-section__compare-header compare-table-section__compare-cell-competitor active" data-table-option="Sallie Mae">Sallie Mae</th>
                            <th scope="col" class="compare-table-section__compare-cell compare-table-section__compare-header compare-table-section__compare-cell-competitor" data-table-option="Discover">Discover</th>
                        </tr>
                        <tr class="compare-table-section__compare-row compare-table-section__compare-row--top" data-compare-table="row">
                            <th scope="row" class="compare-table-section__compare-cell compare-table-section__compare-topic  compare-table-section__compare-cell--top-left">
                                Number of Repayment Options </th>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-featured ">
                                <div class="compare-table-section__compare-cell-checkbox">
                                    <p>4</p>
                                </div>
                            </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor active " data-table-option="Sallie Mae">
                                3 </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor  compare-table-section__compare-cell--top-right" data-table-option="Discover">
                                <div data-compare-table="overlay" class="compare-table-section__column-overlay-container background-color__white" style="height: 430px;">
                                    <p class="p-small">Not Accepting Applications as of <span class="no-text-wrap">January 31, 2024.</span></p>
                                </div>
                                4
                            </td>
                        </tr>
                        <tr class="compare-table-section__compare-row" data-compare-table="row">
                            <th scope="row" class="compare-table-section__compare-cell compare-table-section__compare-topic ">
                                Select Your Own Repayment Term </th>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-featured ">
                                <div class="compare-table-section__compare-cell-checkbox">
                                    <img src="{% static 'assets/temp/check-mark.svg' %}" alt="checkmark">
                                </div>
                            </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor active " data-table-option="Sallie Mae">
                                <div class="compare-table-section__compare-cell-checkbox">
                                </div>
                            </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor " data-table-option="Discover">
                                <div class="compare-table-section__compare-cell-checkbox">
                                    <img src="{% static 'assets/temp/gray-check-mark.svg' %}" alt="checkmark">
                                </div>
                            </td>
                        </tr>
                        <tr class="compare-table-section__compare-row" data-compare-table="row">
                            <th scope="row" class="compare-table-section__compare-cell compare-table-section__compare-topic ">
                                Apply in 3 Minutes </th>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-featured ">
                                <div class="compare-table-section__compare-cell-checkbox">
                                    <img src="{% static 'assets/temp/check-mark.svg' %}" alt="checkmark">
                                </div>
                            </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor active " data-table-option="Sallie Mae">
                                <div class="compare-table-section__compare-cell-checkbox">
                                </div>
                            </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor " data-table-option="Discover">
                                <div class="compare-table-section__compare-cell-checkbox">
                                </div>
                            </td>
                        </tr>
                        <tr class="compare-table-section__compare-row" data-compare-table="row">
                            <th scope="row" class="compare-table-section__compare-cell compare-table-section__compare-topic ">
                                Fees to Apply </th>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-featured ">
                                None </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor active " data-table-option="Sallie Mae">
                                None </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor " data-table-option="Discover">
                                None </td>
                        </tr>
                        <tr class="compare-table-section__compare-row compare-table-section__compare-row--bottom" data-compare-table="row">
                            <th scope="row" class="compare-table-section__compare-cell compare-table-section__compare-topic  compare-table-section__compare-cell--bottom-left">
                                Choice of Fixed or Variable Interest Rates </th>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-featured ">
                                <div class="compare-table-section__compare-cell-checkbox">
                                    <img src="{% static 'assets/temp/check-mark.svg' %}" alt="checkmark">
                                </div>
                            </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor active " data-table-option="Sallie Mae">
                                <div class="compare-table-section__compare-cell-checkbox">
                                    <img src="{% static 'assets/temp/gray-check-mark.svg' %}" alt="checkmark">
                                </div>
                            </td>
                            <td class="compare-table-section__compare-cell compare-table-section__compare-cell-competitor  compare-table-section__compare-cell--bottom-right" data-table-option="Discover">
                                <div class="compare-table-section__compare-cell-checkbox">
                                    <img src="{% static 'assets/temp/gray-check-mark.svg' %}" alt="checkmark">
                                </div>
                            </td>
                        </tr>
                        <tr tabindex="-1" class="compare-table-section__compare-row compare-table-section__empty-row">
                            <td tabindex="-1" class="compare-table-section__empty-cell compare-table-section__empty-cell-first"></td>
                            <td tabindex="-1" class="compare-table-section__empty-cell compare-table-section__empty-cell-featured"></td>
                            <td tabindex="-1" class="compare-table-section__empty-cell"></td>
                            <td tabindex="-1" class="compare-table-section__empty-cell compare-table-section__empty-cell-hide-mobile"></td>
                        </tr>
                    </tbody>
                </table>
                <p class="p-xsmall compare-table-section__disclaimer">*Comparisons based on information obtained on lenders’ websites as of September 3, 2024.</p>
            </div>
        </div>
    </div>
</section>