{% load static %}

<a class="footnotes__toggle accordion-toggle">
    <p class="footnotes__header">Footnotes</p>
    <span class="footnotes__arrow">
        <svg width="16" height="14" viewBox="0 0 16 14" style="color: #002769">
            <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
        </svg>
    </span>
</a>
<div class="section-container">
    <div class="accordion-content">
        <div>
            <div class="footnotes__content">
                <!-- <div class="footnote__item">
                    <span class="footnote__id">1</span>
                    <p class="p-xsmall">As certified by your school and less any other financial aid you might receive. Minimum $1,000.</p>
                </div>
                <div class="footnote__item">
                    <span class="footnote__id">2</span>
                    <p class="p-xsmall">Variable rates may increase after consummation. The 0.25% auto-pay interest rate reduction applies as long as a valid bank account is designated for required monthly payments. If a payment is returned, you will lose this benefit.</p>
                </div>
                <div class="footnote__item">
                    <span class="footnote__id">3</span>
                    <p class="p-xsmall">This informational repayment example uses typical loan terms for a freshman borrower who selects the Flat Repayment Option with an 8-year repayment term, has a $10,000 loan that is disbursed in one disbursement and a 7.78% fixed Annual Percentage Rate ("APR"): 54 monthly payments of $25 while in school, followed by 96 monthly payments of $176.21 while in the repayment period, for a total amount of payments of $18,266.38. Loans will never have a full principal and interest monthly payment of less than $50. Your actual rates and repayment terms may vary.</p>
                </div>
                <div class="footnote__item">
                    <span class="footnote__id">4</span>
                    <p class="p-xsmall">This informational repayment example uses typical loan terms for a freshman borrower who selects the Deferred Repayment Option with a 10-year repayment term, has a $10,000 loan that is disbursed in one disbursement and a 8.35% fixed Annual Percentage Rate ("APR"): 120 monthly payments of $179.18 while in the repayment period, for a total amount of payments of $21,501.54. Loans will never have a full principal and interest monthly payment of less than $50. Your actual rates and repayment terms may vary.</p>
                </div>
                <div class="footnote__item">
                    <span class="footnote__id">5</span>
                    <p class="p-xsmall">A new loan application is required each year. The 95% approval percentage is based on students with an existing College Ave Undergraduate Loan who applied with a cosigner for another College Ave Undergraduate Loan in academic year 2022.</p>
                </div> -->
            </div>
        </div>
    </div>
</div>