{% load static %}

<a class="footnotes__toggle accordion-toggle">
    <p class="footnotes__header">Footnotes</p>
    <span class="footnotes__arrow">
        <svg width="16" height="14" viewBox="0 0 16 14" style="color: #002769">
            <use href="{% static 'assets/images/icons/global/small_arrow.svg' %}#small_arrow"></use>
        </svg>
    </span>
</a>
<div class="section-container">
    <div class="accordion-content">
        <div>
            <div class="footnotes__content">

            </div>
        </div>
    </div>
</div>