{% load static %}


<div class="faq-accordion-section__list-container" data-show-more="section" data-show-more-number="5">
    <ul class="faq-accordion-section__list">
        <div data-site-animation-order="1" data-site-animation-element="animate">

            <li class="faq-section__item accordion" data-show-more="item">
                <a data-link-name="Can parents get a student loan for their child?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">Can parents get a student loan for their child?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>Yes! Parents, guardians, or other family members can choose to take out a private parent loan to help fund their student's college experience. The loan is entirely in the borrower's name rather than the student's, and the borrower takes full responsibility for repaying the loan.</p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div data-site-animation-order="2" data-site-animation-element="animate">

            <li class="faq-section__item accordion" data-show-more="item">
                <a data-link-name="What is a private parent student loan?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">What is a private parent student loan?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>Private parent student loans come from private entities such as a bank or credit union. They are available to parents or guardians who want to take on the full responsibility for paying for any gaps in covering the expense of their child's education after financial aid, scholarships, and federal student loans.</p>
                            <p>Offered with a choice of fixed or variable interest rates, they cover education-related costs such as tuition and fees, room and board, books and supplies, and living expenses. Different lenders each have their own repayment plans.</p>
                            <p>A private parent student loan is taken out in the parent's name only and does not impact the credit or finances of the student. The parent is solely responsible for repayment of the loan.</p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div data-site-animation-order="3" data-site-animation-element="animate">

            <li class="faq-section__item accordion" data-show-more="item">
                <a data-link-name="Who is eligible for a private parent loan?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">Who is eligible for a private parent loan?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>Eligibility for private parent loans may vary from lender to lender. Afri Fund University Lender's parent student loan is available to parents, grandparents, guardians or other family members (like aunts or uncles) who want to help cover the cost of the child's education. Approval for the loan will depend on the applicant's parent or guardian's credit history and income review.</p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div data-site-animation-order="4" data-site-animation-element="animate">

            <li class="faq-section__item accordion" data-show-more="item">
                <a data-link-name="What's the difference between a Parent PLUS Loan and a private parent loan?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">What's the difference between a Parent PLUS Loan and a private parent loan?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>A Parent PLUS Loan is a federal loan available to parents to cover the costs of their child's education. A private parent loan is money a parent borrows from a private entity such as a bank or credit union to help pay for their child's degree.</p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div data-site-animation-order="5" data-site-animation-element="animate">

            <li class="faq-section__item accordion" data-show-more="item">
                <a data-link-name="How do college parent PLUS loans work?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">How do college parent PLUS loans work?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>Applied for via the FAFSA, Free Application for Federal Student Aid, a Parent PLUS Loan comes with a fixed interest rate for the life of the loan. Parent PLUS Loans also include an origination fee of 4.228% of the principal loan amount. That fee applies to loans originated between October 1, 2020, and October 1, 2024.</p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div data-site-animation-order="6" data-site-animation-element="animate">

            <li class="faq-section__item accordion hidden" data-show-more="item">
                <a data-link-name="Do parents need good credit for parent loans?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">Do parents need good credit for parent loans?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>As with any kind of loan, a good credit history helps ensure eligibility. Individuals with poor credit history may not be able to take out parent loans for college students, and rates for the best parent loans for college students tend to be lower for those with better credit scores.</p>
                            <p>Private lenders each have their own application process, eligibility requirements, and interest rates are determined by credit and other financial criteria. Private parent loans typically come with a choice of fixed or variable rates. Interest rates and fees on private parent loans are likely to vary from lender to lender and may be lower than Federal Parent PLUS loan interest rates and fees for those with good credit.</p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div data-site-animation-order="7" data-site-animation-element="animate">

            <li class="faq-section__item accordion hidden" data-show-more="item">
                <a data-link-name="How much can you take out in parent loans?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">How much can you take out in parent loans?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>The borrowing limit for federal parent student loans is the cost of attendance after applying the student's other financial aid such as grants or scholarships.</p>
                            <p>Private lenders each set their own limits. The borrowing limit for our private parent student loans is up to 100% of the school-certified cost of attendance.<sup>*</sup></p>
                            <p><sup>*</sup> <em>As certified by your school and less any other financial aid you might receive. Minimum $1,000.</em> </p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div data-site-animation-order="8" data-site-animation-element="animate">

            <li class="faq-section__item accordion hidden" data-show-more="item">
                <a data-link-name="Do you have to make payments on parent loans while your student is in school?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">Do you have to make payments on parent loans while your student is in school?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>Repayment options depend on if you utilize a federal Parent PLUS Loan or a private parent loan, like one from Afri Fund University Lender.</p>
                            <p>Afri Fund University Lender's parent loans allow you to choose what payments work for your while your child is in school:</p>
                            <ul class="unordered-list__teal-dot">
                                <li>Interest-Only Payments - pay only the interest charges on your loan every month.</li>
                                <li>Interest Plus Payments - pay the interest on your loan plus a set incremental amount every month.<sup>*</sup></li>
                                <li>Full Principal &amp; Interest Payments - pay down the principal and interest on your loan to save the most money long-term.</li>
                            </ul>
                            <p>If you have a federal Parent PLUS Loan, you will be expected to make payments on the loan once it's disbursed to your school. You may request a deferment on the loan while the student is in school.</p>
                            <p><sup>*</sup> <em>You can elect a set monthly payment amount of “Interest Plus” in increments of $20. If you select a variable rate loan, note that we require you to pay at least the monthly interest charges during the in-school period, so your minimum monthly payment due will be the “Interest Plus” monthly payment amount that you selected or the interest due, whichever is greater. Loans will never have a full principal and interest monthly payment of less than $50.</em></p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div data-site-animation-order="9" data-site-animation-element="animate">

            <li class="faq-section__item accordion hidden" data-show-more="item">
                <a data-link-name="Where are parent loan funds disbursed?" class="faq-section__question accordion-toggle" tabindex="0">
                    <span class="faq-section__question-text">Where are parent loan funds disbursed?</span>
                    <div class="faq-section__question-text__icon">

                        <svg viewBox="0 0 20 20" style="color: #002769">
                            <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
                        </svg>
                    </div>
                </a>
                <div class="accordion-content">
                    <div>
                        <div class="faq-section__answer">
                            <p>With federal Parent PLUS and most private parent loans for college, the money is disbursed directly to the school.</p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
    <div class="faq-accordion-section__bottom-container">
        <button title="more" class="show-more-button" data-show-more="button">
            <svg viewBox="0 0 20 20" style="color: #FFFFFF">
                <use href="{% static 'assets/images/icons/global/add.svg' %}#add"></use>
            </svg>
        </button>
        <a href="" target="">
            Still have questions? We’re here to help &gt;
        </a>
    </div>
</div>