{% load static %}


<section class="two-column-slide-selector-section background-color__gray" data-section-name="Repayment Terms4">
    <div class="section-container">
        <div class="two-column-slide-selector__container dropshadow">
            <div class="two-column-slide-selector__card-column">
                <div class="two-column-slide-selector__card background-color__light-teal">
                    <div class="two-column-slide-selector__card-content-container">
                        <div class="two-column-slide-selector__card-content">
                            <h2 class="h2">Repayment Terms<sup>4</sup></h2>
                            <p class="p-large">
                                How many years will it take you to pay back your career loan? With us, you choose
                                the loan term that works best for you.
                            </p>
                        </div>

                        <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-205" data-link-name="Apply Now">
                            Apply Now </a>
                    </div>
                </div>
            </div>
            <div class="two-column-slide-selector__slider-column">
                <div class="repamyment-terms-section__slider-container">
                    <div class="two-column-slide-selector-section__slider-header">
                        <p class="p-large">Slide here to see how you can pay less based on which loan term you choose.</p>
                    </div>
                    <div data-range-slider-options="loan-term-range-slider">
                        <!-- content be loaded here dynamically -->
                    </div>
                    <div class="two-column-slide-selector__range-slider noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr" data-range-slider="loan-term-range-slider">
                        <div class="noUi-base">
                            <div class="noUi-connects"></div>
                        </div>
                        <div class="noUi-pips noUi-pips-horizontal"></div>
                    </div>
                    <div class="two-column-slide-selector-section__slider-footer">
                        <p class="p-regular">(years)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>