<div class="sc-hgHYgh icmpnF" tabindex="0" aria-describedby="undefined-tooltip">
    <div class="sc-eInJlc kmxEKt">
        <span class="sc-gtfDJT cJnWQM">{{title}}</span>
        <div class="sc-cHGsZl iiNlGc">
            <div class="sc-TOsTZ fEOFlj" aria-describedby="tooltip-image-describer" role="img"></div>
            <div class="sc-bZQynM eoLCPG" aria-hidden="false" id="tooltip-image-describer">question mark icon</div>
            <div class="sc-kgAjT gNMhHS"><span class="sc-hmzhuo kBESjm"></span><span class="sc-ksYbfQ hxWSFR"></span>
                <p class="sc-cJSrbW ksFzDC">
                    {{description|safe}}
                </p>
            </div>
        </div>
    </div>
</div>