{% extends "loans/layout.html" %}

{% load static humanize %}

{% block title %}
Undergraduate Student Loans | {{block.super}}
{% endblock title %}

{% block content %}

<section class="hero hero-product background-color__light-orange" data-site-animation-breakpoint="992" data-section-name="A-Spot > Undergraduate Student Loans">
    <div class="site-breadcrumbs site-breadcrumbs__hero">
        <div class="site-breadcrumbs__container">
            <nav class="site-breadcrumbs__desktop">
                <p class="p-small">
                    <a data-link-name="Breadcrumb > Home" href="/">Home</a> > <a data-link-name="Breadcrumb > Student Loans" href="https://www.collegeave.com/student-loans/">Student Loans</a> > Undergraduate Student Loans
                </p>
            </nav>

            <nav class="site-breadcrumbs__mobile">
                <p class="p-small">
                    < <a data-link-name="Breadcrumb > Student Loans" href="https://www.collegeave.com/student-loans/">Student Loans</a>
                </p>
            </nav>
        </div>
    </div>
    <div class="section-container">
        <div class="hero-product__grid">
            <div class="hero-product__main-content">
                <h1 class="h1">Undergraduate Student Loans</h1>
                <div class="hero-product__text-content">
                    <ul class="checklist__list">
                        <li class="checklist__list-item">
                            <span class="checklist__marker">
                                <svg viewBox="0 0 18 18" style="color: #002769">
                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                </svg>
                            </span>
                            <span>Our undergraduate loans cover up to 100% of your cost of attendance<sup>1</sup></span>
                        </li>
                        <li class="checklist__list-item">
                            <span class="checklist__marker">
                                <svg viewBox="0 0 18 18" style="color: #002769">
                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                </svg>
                            </span>
                            <span>You choose the repayment options that fit your monthly budget</span>
                        </li>
                        <li class="checklist__list-item">
                            <span class="checklist__marker">
                                <svg viewBox="0 0 18 18" style="color: #002769">
                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                </svg>
                            </span>
                            <span>It takes only three minutes to apply and get an instant credit decision</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hero-product__image-content">
                <picture>
                    <source media="(min-width: 992px)" srcset="{% static 'assets/images/undergrad-hero.png' %}">
                    <img width="1018" height="1062" src="{% static 'assets/images/undergrad-hero.png' %}" class="attachment-full size-full" alt="family" decoding="async" srcset="{% static 'assets/images/undergrad-hero.png' %} 1018w, {% static 'assets/images/undergrad-hero-288x300.png' %} 288w, {% static 'assets/images/undergrad-hero-982x1024.png' %} 982w, {% static 'assets/images/undergrad-hero-768x801.png' %} 768w" sizes="(max-width: 1018px) 100vw, 1018px" />
                </picture>
            </div>
            <div class="hero-product__bottom-content">
                <div data-site-animation-order="2">
                    <div class="interest-rates-group interest-rates__variable-fixed">
                        <p class="p-small">Here's our current interest rates we offer</p>
                        <div>
                            <div class="interest-rates-group__rates-container">
                                <div class="interest_rate__container">
                                    <h4 class="interest-rate__header">Variable rates</h4>
                                    <div class="interest-rate__rates interest-rate__rates_variable">
                                        <p class="interest-rate__large">8.59%</p>
                                        <p class="interest-rate__small">to 32.99% APR</p>
                                    </div>
                                </div>
                                <div class="interest-rates-group__divider"></div>
                                <div class="interest_rate__container">
                                    <h4 class="interest-rate__header">Fixed rates</h4>
                                    <div class="interest-rate__rates interest-rate__rates_fixed">
                                        <p class="interest-rate__large">12.69%</p>
                                        <p class="interest-rate__small">to 25.99% APR</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-product__button-container" data-site-animation-order="3">

                    <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-205 button__mobile-full-width" data-link-name="Apply Now">
                        Apply Now
                    </a>
                    <a href="" class="dropshadow dropshadow__hover-off button button__dark-blue button__width-205 button__mobile-full-width" data-link-name="Prequalify">
                        Prequalify
                    </a>
                </div>
                <p class="p-small" data-site-animation-order="4">(all rates shown include auto-pay discount)<sup>2</sup></p>
            </div>
        </div>
    </div>
</section>

<section class="repayment-options-section background-color__gray" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Repayment Options">
    <div class="section-container">
        <div class="repayment-options-section__container">
            <div class="repayment-options-section__top-content">
                <h2 class="h2" data-site-animation-order="0">Repayment Options</h2>
                <div class="repayment-options-section__top-paragraphs" data-site-animation-order="1">
                    <p class="p-large">With more repayment options, the less you have to worry. Why? Because the way you repay your loan drives how much it will cost in the end. If you start making payments sooner – or pay more each month – you can lower the cost of the loan over time. When choosing your repayment options, consider how much you feel comfortable paying each month, and how quickly you hope to have your loan paid off.</p>
                    <p class="p-large">This way you’ll feel confident that when you make your monthly payment it’s working extra-hard for you.</p>
                </div>
            </div>

            <div class="repayment-options-section__columns-container">
                <div class="repayment-options-section__options-group flex-3" data-site-animation-order="2">
                    <h3 class="repayment-options-section__options-group-header">Pay During School</h3>
                    <div class="repayment-options-section__columns-outer-container">
                        <div class="repayment-options-section__options-group-bar background-color__teal"></div>
                        <div class="repayment-options-section__options-columns-container">
                            <div class="repayment-options-section__option-container">
                                <h4 class="h4 repayment-options-section__option-header">Full Principal & Interest Payments</h4>
                                <p class="p-small">Start repaying your principal and interest right away to save the most money.</p>
                            </div>
                            <div class="repayment-options-section__divider-bar"></div>
                            <div class="repayment-options-section__option-container">
                                <h4 class="h4 repayment-options-section__option-header">Interest Only Payment</h4>
                                <p class="p-small">Pay the interest charges each month during school.</p>
                            </div>
                            <div class="repayment-options-section__divider-bar"></div>
                            <div class="repayment-options-section__option-container">
                                <h4 class="h4 repayment-options-section__option-header">Flat Payment</h4>
                                <p class="p-small">Make $25 payments each month<sup>3</sup> during school to reduce your accrued interest.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="repayment-options-section__options-group flex-1" data-site-animation-order="3">
                    <h3 class="repayment-options-section__options-group-header">No In-School Payments</h3>
                    <div class="repayment-options-section__columns-outer-container">
                        <div class="repayment-options-section__options-group-bar background-color__dark-blue"></div>
                        <div class="repayment-options-section__options-columns-container">
                            <div class="repayment-options-section__option-container">
                                <h4 class="h4 repayment-options-section__option-header">Deferred Payment</h4>
                                <p class="p-small">No in-school payments required, but you’ll pay more interest over the life of your loan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="two-column-slide-selector-section background-color__gray" data-section-name="Repayment Terms4">
    <div class="section-container">
        <div class="two-column-slide-selector__container dropshadow">
            <div class="two-column-slide-selector__card-column">
                <div class="two-column-slide-selector__card background-color__light-teal">
                    <div class="two-column-slide-selector__card-content-container">
                        <div class="two-column-slide-selector__card-content">
                            <h2 class="h2">Repayment Terms<sup>4</sup></h2>
                            <p class="p-large">
                                How many years will it take you to pay back your undergraduate student loan? With us,
                                you choose the loan term that works best for you.
                            </p>
                        </div>

                        <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-205" data-link-name="Apply Now">
                            Apply Now </a>
                    </div>
                </div>
            </div>
            <div class="two-column-slide-selector__slider-column">
                <div class="repamyment-terms-section__slider-container">
                    <div class="two-column-slide-selector-section__slider-header">
                        <p class="p-large">Slide here to see how you can save based on which loan term you choose.</p>
                    </div>
                    <div data-range-slider-options="loan-term-range-slider">
                        <div data-range-slider-option="1|Save on total interest, but make bigger monthly payments with a shorter repayment term."></div>
                        <div data-range-slider-option="2|Make moderate monthly payments."></div>
                        <div data-range-slider-option="3|Make moderate monthly payments."></div>
                        <div data-range-slider-option="5|Make smaller monthly payments, but pay more in interest overall."></div>
                    </div>
                    <div class="two-column-slide-selector__range-slider" data-range-slider="loan-term-range-slider"></div>
                    <div class="two-column-slide-selector-section__slider-footer">
                        <p class="p-regular">(years)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="compare-cards-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Variable and Fixed Rates Explained">
    {% include "loans/components/ratescompare.html" %}
</section>


<section class="two-statistics-section background-color__white" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Cosigning Made Easy">
    <div class="section-container">
        <div class="two-statistics-section__container background-color__light-teal">
            <div class="two-statistics-section__row">
                <div class="two-statistics-section__content-column">
                    <div class="two-statistics-section__heading-container">
                        <h2 class="h2" data-site-animation-order="1">Cosigning Made Easy</h2>
                        <p class="p-large" data-site-animation-order="2">Usually, students don’t have the credit or income requirements to qualify for an undergraduate loan on their own.</p>
                    </div>
                    <div class="two-statistics-section__text-columns" data-site-animation-order="3">
                        <div class="two-statistics-section__text-column">
                            <div class="two-statistics-section__text-column__image-container">
                                <img width="68" height="68" src="{% static 'assets/images/white-calendar-icon.png' %}" class="attachment-thumbnail size-thumbnail" alt="calendar icon" decoding="async" />
                            </div>
                            <p class="p-small">A parent or other adult with good credit will need to co-sign the private student loan.</p>
                        </div>
                        <div class="two-statistics-section__text-column">
                            <div class="two-statistics-section__text-column__image-container">
                                <img width="68" height="68" src="{% static 'assets/images/two-person-icon.png' %}" class="attachment-thumbnail size-thumbnail" alt="two person icon" decoding="async" />
                            </div>
                            <p class="p-small">Both the student and cosigner share equal responsibility for repaying the loan.</p>
                        </div>
                    </div>
                    <div class="two-statistics-section__buttons-container hidden-xs hidden-sm hidden-md" data-site-animation-order="4">

                        <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-229 button__mobile-full-width" data-link-name="Cosign A Loan">
                            Cosign A Loan </a>

                        <a href="" class="dropshadow dropshadow__hover-off button button__dark-blue button__width-293 button__mobile-full-width" data-link-name="Learn About Cosigning">
                            Learn About Cosigning </a>
                    </div>
                </div>
                <div class="two-statistics-section__card-column">
                    <div class="two-statistics-section__card-column-container" data-site-animation-order="0">
                        <div class="two-statistics-section__card-column__bg-image-container">
                            <img width="96" height="96" src="{% static 'assets/images/teal-circle.png' %}" class="attachment-thumbnail size-thumbnail" alt="Fading circle" decoding="async" />
                        </div>
                        <div class="two-statistics-section__top-card">

                            <div class="statistics-card background-color__dark-blue">
                                <div class="statistics-card__card-content-container">
                                    <div class="statistics-card__card-content">
                                        <div class="statistics-card__header-container">
                                            <p class="statistics-card__percentage">
                                                <span data-animation="countUp" data-count-to="97" data-incrementer="3" data-duration="1500">0</span>%
                                        </div>
                                        <div class="statistics-card__text-container">
                                            <p class="p-small">of all undergraduate loans are cosigned</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two-statistics-section__bottom-card">

                            <div class="statistics-card background-color__white">
                                <div class="statistics-card__card-content-container">
                                    <div class="statistics-card__card-content">
                                        <div class="statistics-card__header-container">
                                            <p class="statistics-card__percentage">
                                                <span data-animation="countUp" data-count-to="66" data-incrementer="3" data-duration="1500">0</span>%
                                        </div>
                                        <div class="statistics-card__text-container">
                                            <p class="p-small">of borrowers choose an in school repayment option</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two-statistics-section__buttons-container hidden-lg hidden-xl">

                        <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-229 button__mobile-full-width" data-link-name="Cosign A Loan">
                            Cosign A Loan </a>

                        <a href="" class="dropshadow dropshadow__hover-off button button__dark-blue button__width-293 button__mobile-full-width" data-link-name="Learn About Cosigning">
                            Learn About Cosigning </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="reviews-slider-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Reviews">
    {% include "loans/components/loanReviews.html" %}
</section>


<section class="two-column-scroll-lock-section" data-section-name="Don’t worry, we’ve got a better student loan process">
    <div class="section-container">
        <div class="two-column-scroll-lock-section__container">
            <div data-site-animation="container" data-site-animation-breakpoint="992">
                <h2 class="h2 two-column-scroll-lock-section__headline" data-site-animation-order="0">
                    Don’t worry, we’ve got a better student loan process
                </h2>
            </div>
            <c-loanStep image="{% static 'assets/images/laptop.png' %}" step="1" message="Before school starts, figure out how much you’ll need to borrow. A good estimate is to take your cost of attendance and subtract any scholarships, grants, federal loans in the student’s name, and savings you plan to use."></c-loanStep>

            <c-loanStep image="{% static 'assets/images/desktop.png' %}" step="2" message="Start shopping around for loans and apply for an undergraduate student loan about 30 days before classes start. Know who your cosigner is and choose your loan term and repayment options."></c-loanStep>

            <c-loanStep image="{% static 'assets/images/autopay-laptop.png' %}" step="3" message="Once approved, we’ll work directly with your school to certify the loan. After the money is sent to your school, be on the lookout for your first loan statement. If you selected an in-school repayment option, consider signing up for auto-pay."></c-loanStep>
        </div>
    </div>
</section>


<section class="resources-slider-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Helpful Resources">
    {% include "loans/student/components/resources.html" %}
</section>

<section class="footnotes accordion_small" data-target="footnotes-section" data-section-name="Footnotes">
    {% include "loans/components/footnotes.html" %}
</section>


{% endblock content %}
{% block pressScript %}
{% endblock pressScript %}


{% block componentScript %}


<script>
    loadJSFile("{% static 'loans/js/footnotes.js' %}", function () {
        loadFootNote("StudentLoan");
    }, document.body);
</script>

{% endblock componentScript %}