{% extends "layout.html" %}
{% load static humanize %}


{% block content %}

<section class="hero hero-homepage background-color__light-teal" data-site-animation-breakpoint="992" data-section-name="A-Spot > A Better Student Loan <em>Experience.</em>">
    <div class="section-container">
        <div class="hero-homepage__container">
            <div class="hero-homepage__column-content">
                <div class="hero-homepage__text-content">
                    <h1 class="h1" data-site-animation-order="0">A Better Student Loan
                        <em>Experience.</em>
                    </h1>
                    <p class="p-large" data-site-animation-order="1">Whether you’re a parent or a student looking for a loan, we’re here for you. Take the stress out of paying for college by creating a private student loan that fits your budget and your goals. With a simple application, flexible loan options, and great customer service, we’re here to help you breathe easy on your college journey.</p>
                </div>
                <div class="hero-homepage__button-container" data-site-animation-order="2">

                    <button aria-label="Apply Now" data-open-modal="apply" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-264 button__mobile-full-width">
                        Apply Now
                    </button>
                </div>
            </div>
            <div class="hero-homepage__column-image">

                <picture>
                    <source media="(min-width: 992px)" srcset="{% static 'assets/images/hero-home-2x.png' %}">
                    <source media="(min-width: 768px)" srcset="{% static 'assets/images/hero-home.png' %}">
                    <img width=" 1056" height="878" src="{% static 'assets/images/hero-home-2x.png' %}" class="attachment-full size-full" alt="Group of students" decoding="async" fetchpriority="high" />
                </picture>
            </div>
        </div>
    </div>
</section>
<!-- the  -->
<section class="product-cards-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Product Card Slider">
    <div class="section-container">
        <div class="product-cards-section__container">
            <div class="product-cards__container keen-slider" data-slider="product-cards">
                <div class="keen-slider__slide" data-site-animation-order="1">
                    <a data-link-name="Undergraduate Student Loans" href="{% url 'loans:studentloans:undergraduate-student-loans' %}" class="product-card background-color__light-orange">
                        <div class="product-card__container">
                            <div class="product-card__content-column">
                                <div class="product-card__content">
                                    <h3 class="product-card__header h3">Undergraduate Student Loans</h3>
                                    <ul class="checklist__list">
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}"></use>
                                                </svg>
                                            </span>
                                            <span>3 minutes to apply</span>
                                        </li>
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>Cover 100% of school costs<sup>2</sup>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__rates-container">
                                    <p class="product-card__rates-label">Rates starting at</p>
                                    <p class="product-card__rates">3.69% APR<sup>1</sup>
                                    </p>
                                </div>
                            </div>
                            <div class="product-card__image-column">
                                <img width="513" height="506" src="{% static 'assets/images/ug_product_tile-2x.png' %}" class="attachment-full size-full" alt="undergraduate" decoding=" async" />
                            </div>
                            <div class="product-card__arrow-container">
                                <svg viewbox=" 0 0 25 15" style="color: #002769">
                                    <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="keen-slider__slide" data-site-animation-order="2">
                    <a data-link-name="Graduate Student Loans" href="" class="product-card background-color__light-green">
                        <div class="product-card__container">
                            <div class="product-card__content-column">
                                <div class="product-card__content">
                                    <h3 class="product-card__header h3">Graduate Student Loans</h3>
                                    <ul class="checklist__list">
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>No origination fees</span>
                                        </li>
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>Cover 100% of school costs<sup>2</sup>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__rates-container">
                                    <p class="product-card__rates-label">Rates starting at</p>
                                    <p class="product-card__rates">3.74% APR<sup>1</sup>
                                    </p>
                                </div>
                            </div>

                            <div class="product-card__image-column">
                                <img width="513" height="506" src="{% static 'assets/images/grad-product-image-2x.png' %}" class="attachment-full size-full" alt="Graduate Student" decoding="async" />
                            </div>
                            <div class="product-card__arrow-container">
                                <svg viewbox=" 0 0 25 15" style="color: #002769">
                                    <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="keen-slider__slide" data-site-animation-order="3">
                    <a data-link-name="Student Card" href="/credit/student-card/" class="product-card background-color__light-teal">
                        <div class="product-card__container">
                            <div class="product-card__content-column">
                                <div class="product-card__content">
                                    <h3 class="product-card__header h3">Student Card</h3>
                                    <ul class="checklist__list">
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>No credit check to qualify.</span>
                                        </li>
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>No interest or late fees<sup>3</sup>.</span>
                                        </li>
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>Cash back on all purchases<sup>4</sup>.</span>
                                        </li>
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>Built-in fraud protection.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="product-card__image-column">
                                <img width="513" height="506" src="{% static 'assets/images/student-card.png' %}" class="attachment-full size-full" alt="" decoding="async" />
                            </div>
                            <div class="product-card__arrow-container">
                                <svg viewbox=" 0 0 25 15" style="color: #002769">
                                    <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="keen-slider__slide" data-site-animation-order="4">
                    <a data-link-name="Graduate Health Professions" href="" class="product-card background-color__light-coral">
                        <div class="product-card__container">
                            <div class="product-card__content-column">
                                <div class="product-card__content">
                                    <h3 class="product-card__header h3">Graduate Health Professions</h3>
                                    <ul class="checklist__list">
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>No origination fees</span>
                                        </li>
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>Flexible repayment options</span>
                                        </li>
                                        <li class="checklist__list-item">
                                            <span class="checklist__marker">
                                                <svg viewbox="0 0 18 18" style="color: #002769">
                                                    <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                                </svg>
                                            </span>
                                            <span>Cover 100% of school costs<sup>2</sup>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-card__rates-container">
                                    <p class="product-card__rates-label">Rates starting at</p>
                                    <p class="product-card__rates">3.74% APR<sup>1</sup>
                                    </p>
                                </div>
                            </div>

                            <div class="product-card__image-column">
                                <img width="513" height="506" src="{% static 'assets/images/gradhealthpro_product_tile-2x.png' %}" class="attachment-full size-full" alt="Graduate Health Professional" decoding="async" />
                            </div>
                            <div class="product-card__arrow-container">
                                <svg viewbox=" 0 0 25 15" style="color: #002769">
                                    <use href="{% static 'assets/images/icons/global/arrow.svg' %}#arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section class="badge-slider-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Who we are.">
    <div class="section-container">
        <div class="badge-slider-section__container">

            <div class="responsive-background-image">

                <picture>
                    <source media="(min-width: 992px)" srcset="{% static 'assets/images/who-we-are-d.png' %}">
                    <source media=" (min-width: 768px)" srcset="{% static 'assets/images/who-we-are-t.png' %}">
                    <source media=" (min-width: 1px)" srcset="{% static 'assets/images/who-we-are-m.png' %}">

                    <img width="1300" height="550" src="{% static 'assets/images/who-we-are-d.png' %}" class="attachment-full size-full" alt="" decoding="async" srcset="{% static 'assets/images/who-we-are-d.png' %} 1300w, {% static 'assets/images/who-we-are-d-300x127.png' %} 300w, {% static 'assets/images/who-we-are-d-1024x433.png' %} 1024w, {% static 'assets/images/who-we-are-d-768x325.png' %} 768w" sizes="(max-width: 1300px) 100vw, 1300px" />
                </picture>
            </div>

            <div class=" badge-slider-section__row">
                <div class=" badge-slider-section__content-column">
                    <div class="badge-slider-section__text-container">
                        <h2 class="h2 badge-slider-section__text" data-site-animation-order="0">Who we are.</h2>
                        <p class="p-large badge-slider-section__text" data-site-animation-order="1">
                            We’re former students, and many of us are parents, so we get where the stress comes with applying for loans. We don’t just like to say it, so we built our business around it.
                            Our private student loans double-major in support and simplicity so it would be as painless as possible for you. Put our useful tools, faster application, and flexible loan options to the test.</p>
                    </div>
                    <div data-site-animation-order="3">

                        <a href="{% url 'about' %}" class="dropshadow dropshadow__hover-off button button__green button__width-205" data-link-name="Learn More">
                            Learn More
                        </a>
                    </div>
                </div>
                <div class="badge-slider-section__badge-column">
                    <div class="badge-slider-section__badges-container">
                        <div class="badge-slider-section__badge-grid keen-slider" data-slider="badge-slider">
                            <div class="grid-item grid-item-1 keen-slider__slide" data-site-animation-order="2">
                                <a href="" target="_blank" class="award-badge award-badge__forbes">
                                    <img src="{% static 'assets/images/icons/best-private-college-lender.svg' %}" class="attachment-full size-full" alt="Forbes Advisor - Best of 2024 - Afri Fund University - Best Private Student Loan" decoding="async" />
                                </a>
                            </div>
                            <div class="grid-item grid-item-2 keen-slider__slide" data-site-animation-order="3">
                                <a href="" target="_blank" class="award-badge award-badge__us-news">
                                    <img src="{% static 'assets/images/icons/afri-news.svg' %}" class="attachment-full size-full" alt="US News - Best Private Student Loans - 2022-2023" decoding="async" />
                                </a>
                            </div>
                            <div class="grid-item grid-item-3 keen-slider__slide" data-site-animation-order="4">
                                <div class="award-badge award-badge__nerd-wallet">
                                    <img src="{% static 'assets/images/icons/private-wallet.svg' %}" class="attachment-full size-full" alt="Nerd Wallet - Best Private Student Loan Overall - 2024" decoding="async" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="" class="dropshadow dropshadow__hover-off button button__green button__width-205" data-link-name="Learn More">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->


<section class="resources-slider-section" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="We’ll guide you through all steps.">
    <div class="resources-slider-section__header-container">
        <h2 class="h2" data-site-animation-order="0">We’ll guide you through all steps.</h2>
        <p class="p-large" data-site-animation-order="1">Confidently plan for college and beyond using our free resources.</p>
    </div>

    {% include "loans/student/components/resources.html" %}
</section>

<!--  -->
<section class="two-column-image-content-equal background-color__light-green" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Enter Our Scholarship Monthly Sweepstakes">
    <div class="section-container">
        <div class="two-column-image-content-equal__container background-color__white" data-site-animation-order="0">
            <div class="two-column-image-content__column two-column-image-content__column-image" data-site-animation-order="1">
                <picture>
                    <source media="(min-width: 1200px)" srcset="{% static 'assets/temp/promo.png' %}" #="#">
                    <img src=" {% static 'assets/temp/promo.png' %}" alt="">
                </picture>
            </div>
            <div class="two-column-image-content__column two-column-image-content__column-content">
                <div class="content-text-container">
                    <h2 class="h2" data-site-animation-order="2">Enter our
                        <span style='display: inline-block; font-family: "FigtreeBold", sans-serif; color: #00A4B3; background-color: #D1EEF2; padding: 0 10px; border-radius: 6px;'>$1,000</span>
                        Scholarship Monthly Sweepstakes
                    </h2>
                    <p class="p-large" data-site-animation-order="3">We'll be choosing one winner each month to receive $1,000 for school, so make sure to check back each month and enter. We want to offer you more help, so you can stress less about upcoming school-related costs.</p>
                </div>
                <div data-site-animation-order="4">

                    <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-210" data-link-name="Enter Today">
                        Enter Today
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section class="two-column-icon-with-button" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="See Your College Loan in Action">
    <div class="section-container">
        <div class="two-column-icon-with-button__container">
            <div class="responsive-background-image">
                <picture>
                    <source media="(min-width: 992px)" srcset="{% static 'assets/images/light-wave-bg-d-1.png' %}">
                    <source media=" (min-width: 768px)" srcset="{% static 'assets/images/light-wave-bg-t-1.png' %}">
                    <source media=" (min-width: 1px)" srcset="{% static 'assets/images/light-wave-bg-m-1.png' %}">
                    <img width=" 1300" height="474" src="{% static 'assets/images/light-wave-bg-d-1.png' %}" class="attachment-full size-full" alt=" " decoding=" async" />
                </picture>
            </div>
            <div class=" two-column-icon-with-button__row">
                <div class=" two-column-icon-with-button__column-content">
                    <div class="two-column-icon-with-button__content">
                        <div class="two-column-icon-with-button__header" data-site-animation-order="0">
                            <h2 class="h2">See Your College Loan in Action.</h2>
                        </div>
                        <p class="p-large" data-site-animation-order="1">Put your worries and anxiety aside and get a glimpse of what your future loan payments will look like and how you can make your loan work for you. We'll show you all your options and interest rates so there are no unexpected surprises.</p>
                    </div>
                </div>

                <div class="two-column-icon-with-button__column-object-container dropshadow" data-site-animation-order="2">
                    <div class="two-column-icon-with-button__column-object">
                        <div class="two-column-icon-with-button__image">
                            <picture>
                                <source media="(min-width: 992px)" srcset="{% static 'assets/temp/cal-icon.svg' %}">
                                <img src="{% static 'assets/temp/cal-icon.svg' %}">
                            </picture>
                        </div>
                        <a href="{% url 'calculators:home' %}" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-270" data-link-name="Calculate Your Loan">
                            Calculate Your Loan
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section class="two-column-image-content-offset" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Afri Fund Lender's Credit Card">
    <div class="section-container">
        <div class="two-column-image-content-offset__container background-color__gray">
            <div class="two-column-image-content-offset__row">
                <div class="two-column-image-content-offset__column-content">
                    <div class="two-column-image-content-offset__content">
                        <div class="two-column-image-content-offset__headers">
                            <h2 class="h2" data-site-animation-order="1">You're Ready to Build Credit. We're Here to Help.</h2>
                        </div>
                        <div data-site-animation-order="2">
                            <ul class="checklist__list">
                                <li class="checklist__list-item">
                                    <span class="checklist__marker">
                                        <svg viewbox="0 0 18 18" style="color: #002769">
                                            <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                        </svg>
                                    </span>
                                    <span>No credit check to qualify.</span>
                                </li>
                                <li class="checklist__list-item">
                                    <span class="checklist__marker">
                                        <svg viewbox="0 0 18 18" style="color: #002769">
                                            <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                        </svg>
                                    </span>
                                    <span>No interest or late fees<sup>3</sup>.</span>
                                </li>
                                <li class="checklist__list-item">
                                    <span class="checklist__marker">
                                        <svg viewbox="0 0 18 18" style="color: #002769">
                                            <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                        </svg>
                                    </span>
                                    <span>Cash back on all purchases<sup>4</sup>.</span>
                                </li>
                                <li class="checklist__list-item">
                                    <span class="checklist__marker">
                                        <svg viewbox="0 0 18 18" style="color: #002769">
                                            <use href="{% static 'assets/images/icons/global/check_circle_dark.svg' %}#check_circle_dark"></use>
                                        </svg>
                                    </span>
                                    <span>Built-in fraud protection.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-site-animation-order="3">
                        <a href="" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-203" data-link-name="Start Today">
                            Start Today
                        </a>
                    </div>
                </div>
                <div class="two-column-image-content-offset__column-image" data-site-animation-order="3">

                    <picture>
                        <source media="(min-width: 992px)" srcset="{% static 'assets/images/student-card.png' %}">
                        <img width=" 1210" height=" 1142" src="{% static 'assets/images/student-card.png' %}" class=" attachment-full size-full" alt="" decoding="async" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section class="two-column-text-section background-color__white" data-site-animation="container" data-site-animation-breakpoint="992" data-section-name="Let' s=" s" get=" get" started,=" started," you've got this."="started," you've got this."">
    <div class="section-container">
        <div class="two-column-text-section__container two-column-text-section__image_text">
            <div class="two-column-text-section__image-column" data-site-animation-order="0">
                <picture>
                    <source media="(min-width: 992px)" srcset="{% static 'assets/images/sitting-student-2x.png' %}">
                    <img width=" 987" height="974" src="{% static 'assets/images/sitting-student-2x.png' %}" class=" attachment-full size-full" alt=" sitting student" decoding=" async" />
                </picture>
            </div>

            <div class=" two-column-text-section__content-column">
                <div class=" two-column-text-section__content">
                    <div class="two-column-text-section__text-content">
                        <h2 class="h2" data-site-animation-order="1">Let's get started, you've got this.</h2>
                    </div>
                    <div class="two-column-text-section__button-container" data-site-animation-order="3">

                        <a href="{% url 'loans:prequalify' %}" class="dropshadow dropshadow__hover-off button button__dark-teal button__width-203" data-link-name="Prequalify">
                            Prequalify
                        </a>

                        <button aria-label="Apply Now" data-open-modal="apply" class="dropshadow dropshadow__hover-off button button__dark-blue button__width-203">
                            Apply Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section class="footnotes accordion_small" data-target="footnotes-section" data-section-name="Footnotes">
    {% include "loans/components/footnotes.html" %}
</section>
<!--  -->

{% endblock content %}



{% block componentScript %}


<script>
    loadJSFile("{% static 'loans/js/footnotes.js' %}", function () {
        loadFootNote("Custom");
    }, document.body);
</script>

{% endblock componentScript %}